---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Conectarse">
    <div id="platformButtons">
        <button id="showWindows">Cambiar a comandos de teclado de Windows</button>
        <button id="showMac">Cambiar a comandos de teclado de Mac OS</button>
        </div>
<p>El proceso de conexión de Remote Incident Manager está diseñado con rapidez
y simplicidad en mente, tanto para la persona que recibe asistencia como para la que la proporciona.</p>
<h2 id="connecting-to-a-controller"><a class="header" href="#connecting-to-a-controller">Conexión a un controlador</a></h2>
<p>Cuando inicie Remote Incident Manager por primera vez, estará en modo de destino
por defecto. Esto significa que se conectará a una persona que ha establecido una sesión de asistencia remota para usted
persona que ha establecido una sesión de soporte remoto para usted.<br>
Aterrizará en un cuadro de edición etiquetado como "palabra clave" Introduzca la palabra clave
 a usted por la persona que le asiste, y luego simplemente pulse enter. Y ya está
ya está conectado</p>
<h2 id="accepting-a-request-to-connect"><a class="header" href="#accepting-a-request-to-connect">Aceptar una solicitud de conexión</a></h2>
<p>Si un técnico le presta asistencia de forma habitual, su máquina
puede estar configurada para recibir una solicitud de conexión sin que ninguno de los dos
tenga que introducir una palabra clave. RIM anunciará que su técnico está
intentando conectarse. Para aceptar la conexión, pulse
<em class="winCmd" style="display: none;">Windows+Shift+Y,</em>
<em class="macCmd" style="display: none;">Option+Shift+Y,</em>
y la sesión comenzará momentáneamente.</p>
<h2 id="connecting-to-a-target"><a class="header" href="#connecting-to-a-target">Conexión a un objetivo</a></h2>
<p>El proceso para organizar la sesión es bastante similar. En lugar de
 introducir la palabra clave, deberá navegar hasta el botón "Proporcionar ayuda
en su lugar". Al hacerlo por primera vez, se le pedirá que
que cree una cuenta.</p>
<ol>
<li>Introduzca su dirección de correo electrónico.</li>
<li>Compruebe su correo electrónico para obtener un código de verificación y, a continuación, introdúzcalo en RIM.</li>
<li>A continuación, se le pedirá que introduzca su nombre, ubicación y número de teléfono.</li>
<li>Por último, recibirás otro código de verificación en tu teléfono. Introduzca este código en RIM.</li>
<ol>
<li>Si no dispone de un teléfono móvil capaz de recibir mensajes de texto, por favor <a href="https://pneumasolutions.com/products/rim/account-verification/">rellene este formulario.</a> Le ayudaremos a que su cuenta sea verificada.</li>
<li>Una nota para los números internacionales: Si su código de verificación no
asegúrese de que el prefijo del país que precede a su número lleva el signo
por el signo más, en lugar de 00.</li> 
</ol>
</ol>
<p>Ahora que has iniciado sesión, introduce la palabra clave que utilizará el objetivo
 para conectar contigo. Cuando navegue más allá del cuadro de edición, encontrará
una casilla de verificación que determina si se inicia o no una conversación de voz durante la sesión
conversación de voz durante la sesión (también se puede activar o desactivar durante la sesión)
durante la sesión). Después encontrarás el botón "Iniciar". Cuando
 cuando haga clic en él, estará en la sala de espera hasta que su objetivo se conecte
se conecte. En este punto, usted querrá enviar la palabra clave que acaba de
que acabas de introducir a la persona con la que te vas a conectar
 para conectarse. Una vez que se haya conectado, recibirá una alerta
informándote de que la sesión remota está a punto de comenzar. Toma nota de
el mencionado
<em class="winCmd" style="display: none;">Windows+Shift+Backspace</em>
<em class="macCmd" style="display: none;">Option+Shift+Backspace</em>
ya que
abrirá el menú RIM en su máquina. Si utiliza exclusivamente el teclado
exclusivamente, esta es la única manera de dirigir la entrada de teclado de nuevo a su
propio sistema. Después de cerrar este diálogo, se iniciará la sesión remota
iniciada.</p>
</Layout>