---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Se connecter">
    <div id="platformButtons">
        <button id="showWindows">Passer aux commandes clavier de Windows</button>
        <button id="showMac">Passer aux commandes clavier de Mac OS</button>
        </div>
<p>Le processus de connexion de Remote Incident Manager a été conçu dans un souci de rapidité et de simplicité, tant pour la personne qui reçoit l'assistance que pour celle qui la fournit
et la simplicité, tant pour la personne qui reçoit de l'aide que pour celle qui la fournit.</p>
<h2 id="connecting-to-a-controller"><a class="header" href="#connecting-to-a-controller">Connexion à un contrôleur</a></h2>
<p>Lorsque vous lancez Remote Incident Manager pour la première fois, vous êtes par défaut en mode cible
par défaut. Cela signifie que vous allez vous connecter à une personne qui a mis en place une session d'assistance à distance pour vous
personne qui a mis en place une session d'assistance à distance pour vous
Vous arrivez dans une zone d'édition intitulée "mot-clé" Saisissez le mot-clé qui vous a été communiqué par la personne qui vous assiste
 par la personne qui vous assiste, puis appuyez simplement sur la touche "Entrée". Il ne vous reste plus qu'à appuyer sur la touche "Entrée"
vous êtes connecté !</p>
<h2 id="accepting-a-request-to-connect"><a class="header" href="#accepting-a-request-to-connect">Acceptation d'une demande de connexion</a></h2>
<p>Si un technicien vous assiste régulièrement, votre machine peut être configurée pour recevoir une demande de connexion sans que vous ayez à vous en soucier
peut être configuré pour recevoir une demande de connexion sans qu'aucun d'entre vous n'ait à entrer un mot clé
de saisir un mot-clé. RIM annoncera que votre technicien
tente de se connecter. Pour accepter la connexion, appuyez sur
<em class="winCmd" style="display: none;">Windows+Shift+Y,</em>
<em class="macCmd" style="display: none;">Option+Shift+Y,</em>
et la session commencera dans un instant.</p>
<h2 id="connecting-to-a-target"><a class="header" href="#connecting-to-a-target">Connexion à une cible</a></h2>
<p>Le processus de mise en place de la session est assez similaire. Plutôt que de
 d'entrer le mot-clé, vous voudrez naviguer vers le bouton "Fournir de l'aide
à la place". Lorsque vous effectuez cette opération pour la première fois, il vous sera demandé de créer un compte
de créer un compte.</p>
<ol>
<li>Saisissez votre adresse électronique.</li>
<li>Vérifiez votre e-mail pour obtenir un code de vérification, puis saisissez-le dans RIM.</li>
<li>Il vous sera alors demandé de saisir votre nom, votre lieu de résidence et votre numéro de téléphone.</li>
<li>Enfin, vous recevrez un autre code de vérification sur votre téléphone. Entrez ce code dans RIM.</li>
<ol>
<li>Si vous n'avez pas de téléphone portable capable de recevoir des messages textuels, veuillez <a href="https://pneumasolutions.com/products/rim/account-verification/">remplir ce formulaire.</a> Nous vous aiderons à faire vérifier votre compte.</li>
<li>Remarque concernant les numéros internationaux : Si votre code de vérification n'est pas
n'aboutit pas, assurez-vous que l'indicatif de pays qui précède votre numéro est indiqué par le signe
par le signe plus, au lieu de 00.</li>
</ol>
</ol>
<p>Maintenant que vous êtes connecté, entrez le mot-clé que la cible utilisera pour se connecter à vous
 pour se connecter à vous. Lorsque vous dépassez la zone d'édition, vous tombez sur une case à cocher qui détermine s'il faut ou non lancer un appel vocal
une case à cocher qui détermine s'il faut ou non lancer une conversation
conversation vocale pendant la session (cette case peut être activée ou désactivée pendant la
session). Ensuite, vous trouverez le bouton "Démarrer". Lorsque vous
 lorsque vous cliquez sur ce bouton, vous êtes dans la salle d'attente jusqu'à ce que votre cible se connecte
se connecte. À ce stade, vous voudrez envoyer le mot-clé que vous venez de saisir à la personne avec laquelle vous allez vous connecter, car c'est ce mot-clé qui est le plus important
mot-clé que vous venez de saisir à la personne avec laquelle vous allez vous connecter, car c'est ce qu'elle utilisera pour se connecter
 car c'est ce qu'elle utilisera pour se connecter. Une fois la connexion établie, vous recevrez une alerte
vous informant que la session à distance est sur le point de commencer. Prenez note des
l'indication
<em class="winCmd" style="display: none;">Windows+Shift+Backspace</em>
<em class="macCmd" style="display: none;">Option+Shift+Backspace</em>
raccourci, ce qui aura pour effet
le menu RIM sur votre machine. Si vous utilisez exclusivement le clavier
exclusivement sur le clavier, c'est la seule façon de renvoyer les données du clavier vers votre système
propre système. Après avoir quitté ce dialogue, la session à distance est lancée
lancée.</p>
</Layout>