---
title: "Configuration requise"
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
  <Layout title="System Requirements">
<p>Pour que Remote Incident Manager puisse fonctionner, votre système doit remplir ou dépasser les conditions suivantes :</p>
<div id="platformButtons">
<button id="showWindows">Passer aux exigences de Windows</button>
<button id="showMac">Passer aux exigences de Mac OS</button>
</div>
<div class="win" style="display: none;">
  <ul>
        <li>Windows 7 SP1 ou version ultérieure</li>
        <li>Windows Server 2012 ou version ultérieure</li>
        <li>Au moins 4 Go de mémoire vive</li>
        <li>Privilèges d'administrateur pour l'installation initiale (non requis pour les mises à jour automatiques)</li>
      </ul>
    </div>
      <div class="mac" style="display: none;">
        <ul>
        <li>Silicium Intel ou Apple</li>
        <li>Mac OS Ventura</li>
        <li>Au moins 4 Go de mémoire vive</li>
        <li>Privilèges d'administrateur pour l'installation initiale (non requis pour les mises à jour automatiques)</li>
      </ul>
    </div>
      <div id="unknown-content" style="display: none">
        <p>Veuillez sélectionner un système d'exploitation à l'aide des boutons ci-dessus.</p>
    </div>
</Layout>