---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Trabajar en una sesión">
    <div id="platformButtons">
        <button id="showWindows">Instrucciones para cambiar a Windows</button>
        <button id="showMac">Instrucciones para cambiar a Mac OS</button>
        </div>
<h2 id="things-to-know-before-you-begin"><a class="header" href="#things-to-know-before-you-begin">Lo que hay que saber antes de empezar</a></h2>
<p>Inmediatamente después de que se establezca la conexión ocurrirán algunas cosas.</p>
<ul>
<li>Aparecerá la ventana de control remoto de la sesión.</li>
<li>Se le informará del estado del lector de pantalla en ejecución, o de la ausencia del mismo, en la máquina del cliente.</li>
<li>Si el cliente utiliza un lector de pantalla, una notificación tostada
informando al usuario de que la sesión remota ha comenzado proporcionará
confirmación instantánea de que el sistema de audio del usuario está funcionando.</li>
<li>Un objetivo Mac mostrará el asistente de configuración del teclado si es la primera vez que se le conecta un controlador.</li>
    <ul>
    <li>Esto es para el teclado virtual Karabiner, que escucha los comandos de teclado que le envía un controlador.</li>
    <li>Como tal, usted querrá caminar el equipo de destino a través del asistente de configuración
     de configuración, ya que en el proceso de identificación se escucharán las
    el proceso de identificación, no el propio teclado del Mac.</li>
    </ul>
    <li>Por último, pero no menos importante, todas las entradas de teclado y ratón serán inmediatamente
 al ordenador de destino. Para devolver el control a su
máquina, haga lo siguiente:</li>
<ul class="winCmd" style="display: none;">
<li>pulsa Windows+Mayús+Retroceso.</li>
<li>haga clic con el botón derecho del ratón en la barra de título de la ventana RIM.</li>
<li>haz clic con el botón izquierdo del ratón en el icono RIM.</li>
</ul>
<ul class="macCmd" style="display: none;">
    <li>pulsa Opción+Mayús+Retroceso.</li>
    <li>Haga clic en el icono grande de RIM situado en la esquina superior izquierda de la ventana de la sesión.</li>
    </ul>
    
</ul>
<h2 id="remote-control-zone"><a class="header" href="#remote-control-zone">Zona de control remoto</a></h2>
<p>At this point, you're all set to perform whatever tasks need doing on
 the client side. Should you need to switch back to controlling your own
 machine, bring up the RIM menu, then select the "Minimize session" 
option. You will be taken back to your machine until you switch back 
into the session window or press Windows+Shift+Backspace again. When you
 go back into the session window, keyboard and mouse input will once again be 
directed to the client computer.<br>
Once you're done, either the controller or the target can go into the 
RIM menu and choose the "Disconnect Session" option. When the session 
ends, the target machine will get a toast notification informing them of
 this.</p>
<h2 id="the-rim-menu"><a class="header" href="#the-rim-menu">The RIM Menu</a></h2>
<p>As mentioned earlier, accessing the RIM menu directs you back to your
 machine. There are a number of options in this menu. They include:</p>
<ul>
<li>Update RIM on Target: Forces an update of RIM on the target computer</li>
<ul>
<li>This option shows if the target's machine is running an older version of RIM</li>
</ul>
<li>Minimize Session: brings control back to your machine as described above</li>
<ul>
<li>You can also use the shortcut
    <em class="winCmd" style="display: none;">Windows+Shift+M</em>
    <em class="macCmd" style="display: none;">Option+Shift+M</em>
         to minimize the session.</li>
</ul>
<li>Transfer File to Target: Appears if a file is on the clipboard.</li>
<ul>
<li>Although this alternate method of completing a file transfer is 
always available, it is only necessary for transferring files to Mac 
targets.</li>
</ul>
<li>Flip Session: Allows your client to remote control your machine and 
hear its audio. As the original controller, you can flip the session 
back by selecting this option a second time.</li>
<ul>
<li>You can also use the keyboard shortcut
    <em class="winCmd" style="display: none;">Windows+Shift+F</em>
    <em class="macCmd" style="display: none;">Option+Shift+F</em>
    to flip the session back and forth.</li>
</ul>
<li>Start/stop Voice Conversation: Allows you to toggle the voice chat on or off for your session.</li>
<ul>
<li>Note that this option is unavailable in unattended sessions as they 
do not support voice chat. However, prompted sessions still support 
this.</li>
</ul>
<li>Start Remote Accessibility: This option appears when no screen 
reader is running on the remote computer. This will enable speech on 
your end, but the client will not need to worry about hearing speech.</li>
<ul>
<li>If a screen reader (including Remote Accessibility) is running, this option turns into a force quit for the running screen reader. This is useful when a target's screen reader stops responding to the extent you are unable to restart it normally.</li>
</ul>
<li>Reboot and Reconnect: Allows you to reboot the computer and automatically reconnect the session.</li>
<ul>
    <li>Note that a Mac target cannot start RIM pre-login due to platform limitations, notably FileVault.</li>
    <li>As such, RIM will reconnect once the user logs in.</li>
    </ul>
        <li>Send Control+Alt+Delete: Sends this keystroke to the remote machine.</li>
        <ul>
            <li>An equivalent for this option is not yet implemented for Mac targets.</li>
            </ul>
<li>Request Unattended or Prompted Access: Allows you to send a request 
for unattended access to the client computer. This is useful if you are a
 sysadmin and need to perform routine maintenance, or even for something
 as simple as controlling your home machine while on the go.</li>
<li>Lock the Target Machine: Performs the equivalent of Windows+L.</li>
<li>View Connection Details: Provides a detailed lowdown on your connection, as well as the target machine. Information includes:</li>
<ul>
<li>Connection statistics</li>
<li>Information about the computer, including operating system version, available ram, etc.</li>
<li>Running processes (Windows targets)</li>
<li>Installed packages(Windows targets)</li>
</ul>
<li>Disconnect Session: Terminates the session.</li>
<ul>
<li>Remember that this option is available to both sides of the session.</li>
<li>This is also possible via the keyboard command
    <em class="winCmd" style="display: none;">Windows+Shift+D.</em>
    <em class="macCmd" style="display: none;">Option+Shift+D.</em>
</li>
</ul>
</ul>
<h2 id="file-transfers"><a class="header" href="#file-transfers">File Transfers</a></h2>
<p>RIM provides a simple avenue for transferring files, irrespective of platform used.</p>
<ol>
<li>Bring up the RIM menu, and click on "Minimize Session." Control will be directed back to your computer.</li>
<li>Select the file(s) and/or folder(s) you want to transfer using your file manager.</li>
<li>Copy the selected contents to the clipboard in the usual way. You 
will receive a notification that a file is ready to be transferred. You 
have two options.</li>
<ol>
<li>If the target is a Mac:</li>
<ol>
<li>Activate the RIM session menu, and click on the "Transfer File to Target" option.</li>
<li>Upon completion of the transfer, the target Mac will generate a 
temporary directory containing the transferred contents. These should 
then be copied and pasted to their intended directories.</li>
</ol>
<li>If the target is a Windows machine:</li>
<ol>
<li>Switch back to the remote session, and locate the folder on the target machine where you wish to paste the content.</li>
<li>Last but not least, paste as you normally would.</li>
</ol>
</ol>
</ol>
<!-- end -->
<p>Note that the transfer time will depend entirely on the size of the content being sent as well as your network speed.</p>
<h2 id="remote-accessibility-module"><a class="header" href="#remote-accessibility-module">Remote Accessibility Module</a></h2>
<p>Whether you're assisting a user who doesn't use a screen reader, or 
you're diagnosing an issue with a malfunctioning screen reader, RIM is 
fully prepared to come to your aid.</p>
<div class="win" style="display: none;">
    <p>The remote accessibility module consists of two components:</p>
<ul>
<li>An addon for the <a href="https://nvaccess.org/">NVDA screen reader</a> that enables the screen reader to receive output from the remote computer</li>
<li>A self-contained accessibility module initiated on the target 
computer at the request of the controller. The advantage to this 
approach is that the end user does not hear speech on their computer 
while you're controlling it. Instead, the Remote Accessibility Module 
pipes the speech output through to the running copy of NVDA on the 
controller side. This way, you can accessibly assist an end user without
 them having to install or even download a screen reader.</li>
</ul>
</div>
<div class="mac" style="display: none">
    <p>The remote accessibility module is a
    special configuration initiated on the target Mac at the request of a
    Windows or Mac controller. The advantage to this approach is that the 
   end user does not hear speech on their computer while you're controlling
    it. Instead, the Remote Accessibility Module pipes the speech output 
   through to the speech system on the controller side. This way, you can 
   accessibly assist an end user without them having to enable a screen 
   reader.
   If you are running VoiceOver on the controling Mac, the remote 
   accessibility module will automatically start during remote sessions in 
   which the remote computer does not have a screen reader running.
</div>
<div class="win" style="display: none">
    <h3 id="setup-procedure"><a class="header" href="#setup-procedure">Setup Procedure</a></h3>
<p>For first-time initialization of the accessibility module, here is what you will need to do:</p>
<ol>
<li>Connect to a computer that does not have a screen reader running.</li>
<li>If NVDA is currently running, you will be asked to install an addon 
that will allow your copy of NVDA to communicate with the remote 
computer during the session. Accept the installation prompts, and wait 
for NVDA to restart.</li>
<li>By now, the remote accessibility module will be fully initialized, 
and you will hear speech output as you control the remote computer.</li>
</ol>
<p>From this point forward, if you are running a screen reader on the 
controling computer, the remote accessibility module will automatically 
start during remote sessions in which the remote computer does not have a
 screen reader running. Should you be running a screen reader other than
 NVDA, RIM will disengage that screen reader and then switch you over to
 NVDA.
If you need to stop the remote accessibility module on the remote 
machine in order to start another screen reader, simply access the "Stop Remote Accessibility" option off the RIM menu.</p>
</div>
<h2 id="rebooting-and-reconnecting"><a class="header" href="#rebooting-and-reconnecting">Rebooting and Reconnecting</a></h2>
<p>Whether you're installing system updates or working your way out of a
 system hang, RIM has got you covered during the reboot process. 
Selecting the "Reboot and Reconnect" option off the RIM menu will allow 
you to either perform a graceful reboot or an emergency reboot, 
depending on what state the computer is in. While the computer is 
rebooting, RIM will inform you that reconnection attempts are being 
made.<br>
Note that if the computer is rebooted by a software installation or 
manually rebooted in the usual way, you will be asked if you wish to 
reconnect the session. Of further note is that in either case, Mac 
targets will only reconnect once the user logs in. This is due to the 
fact that RIM cannot start automatically on the login screen due to 
platform limitations, most notably FileVault disk encryption.</p>
<h2 id="unattended-or-prompted-access"><a class="header" href="#unattended-or-prompted-access">Unattended or Prompted Access</a></h2>
<p>RIM allows you, as the controller, to configure machines for 
unattended or prompted access. This allows you to provide remote 
assistance without the user having to launch RIM, enter a keyword, or 
even be near the computer. This is useful if you are a sysadmin 
performing routine maintenance on computers in your workgroup, or for 
clients you provide support to on the regular. You may also want to 
allow unattended access for your home computer should you need to access it 
from someplace else.<br>
There are a few ways to configure machines for unattended access.</p>
<h3 id="during-an-interactive-session"><a class="header" href="#during-an-interactive-session">During an Interactive Session</a></h3>
<ol>
<li>Bring up the RIM menu.</li>
<li>Select "Request Unattended or Prompted Access."</li>
<li>You will be asked what kind of connection you want to configure. Your options are:</li>
<ol>
<li>Unattended: Allows sessions to be initiated without any intervention whatsoever from the end user.</li>
<li>Prompted: This configuration presents the user with a prompt 
informing them that you are conecting to their machine. They will need 
to press <em>Option+Shift+Y</em> on Mac OS, or <em>Windows+Shift+Y</em> on Windows, should they wish to accept the connection.</li>
</ol>
<li>You will be asked to give this machine a name. Enter a personal name
 for the machine, or if applicable, the machine ID as it appears in your
 workgroup.</li>
<li>Press enter.</li>
<li>On the client machine, a dialogue pops up asking the user if they're
 fine with their computer being set up for the access you requested. If 
they answer yes, then you will get a prompt informing you that the 
access has been approved.</li>
</ol>
<h3 id="registering-a-machine-to-your-rim-account"><a class="header" href="#registering-a-machine-to-your-rim-account">Registering a Machine to your RIM account</a></h3>
<p>Should you wish to register one of your own machines for unattended 
access, you can do so without having to start an interactive session 
with the machine. </p>
<ol>
<li>Start RIM in Receive Help Mode.</li>
<li>Click on the "Add this machine to your RIM account" button.</li>
<li>Enter your email, then click next.</li>
<li>Wait for the two-step login code to arrive, enter it, then you should be logged in.</li>
<li>You will be asked what type of access you would like configured for this machine. Your options are:</li>
<ol>
<li>Unattended: Allows sessions to be initiated without any intervention whatsoever from the end user.</li>
<li>Prompted: This configuration presents the user with a prompt informing them that you are conecting to their machine.</li>
</ol>
<li>Give the machine a name, then activate the "Add Machine" button.</li>
<li>The machine will be registered to your account, which will allow any
 controller machines logged into your RIM account to connect to this 
machine.</li>
</ol>
<h3 id="getting-connected-1"><a class="header" href="#getting-connected-1">Getting Connected</a></h3>
<p>Now that we've registered the machine for unattended access, here is how we will start a session.</p>
<ol>
<li>Start RIM in controller mode.</li>
<li>Rather than entering a keyword, locate and activate the"Choose a machine" button.</li>
<li>When you click this, a list of machines will appear. Choose the one 
you want, then hit enter. You may also use the search bar to narrow the 
list down to a specific machine.</li>
</ol>
<p>If the target machine is configured for prompted access, the end user
 will get a prompt. Once they answer yes, you'll be connected. If the 
session is unattended, you will immediately be connected and dropped 
into the remote control zone.<br>
Please note: Voice conversations are not supported during fully unattended sessions, however they are supported for prompted sessions.</p>
<h3 id="creating-a-shortcut-for-an-unattended-session"><a class="header" href="#creating-a-shortcut-for-an-unattended-session">Creating a Shortcut for an Unattended Session</a></h3>
<p>For extra convenience, you can create desktop shortcuts that allow 
you to automatically launch unattended sessions. In order to do this:</p>
<ol>
<li>Access the list of unattended computers, and select the one you want to create a shortcut for.</li>
<li>Click on the "Create Shortcut" button.</li>
<li>A shortcut will be automatically added to your desktop.</li>
</ol>
<p>Now, when you activate this shortcut, you will either automatically 
land in the remote session, or send a prompt to the user's machine that 
they can accept.</p>
<div class="win" style="display: none">
    <h4 id="more-ways-to-use-unattended-session-shortcuts"><a class="header" href="#more-ways-to-use-unattended-session-shortcuts">More Ways to use Unattended Session Shortcuts</a></h4>
<p>Unattended session shortcuts, like any other shortcuts, can have 
global hotkeys associated with them. This can be extremely useful if you
 are a maintenance tech managing multiple computers in a workgroup. For 
example, if your workgroup consists of 6 computers that you perform 
routine maintenance on, you could configure Alt+Control+1 through 6 as 
hotkeys for each respective machine. This ought to significantly speed 
up your workflow.<br>
In addition, you can call up an unattended session via the run box if 
you copy the shortcut into your user directory. Once you've copied the 
shortcut, you may start an unattended session by typing 
your-session-name.url in the run box.</p>
</div>
<h3 id="revoking-unattended-access"><a class="header" href="#revoking-unattended-access">Revoking Unattended Access</a></h3>
<p>If you no longer want your machine to be controlled unattended, you 
can revoke the controller's access. You do not need to be in a session 
in order to do this.</p>
<ol class="win" style="display: none;">
<li>Access the Remote Incident Manager icon in your system tray.</li>
<ol>
<li>If using the keyboard, press windows+b, then space, then left or right arrow until you find the icon.</li>
</ol>
<li>Right click this icon, or press the applications or shift+f10 key.</li>
<li>Select the "Revoke Unattended Access" option.</li>
<li>You will arrive at a list of computers, select the one you want to revoke.</li>
<li>You will be asked if you wish to revoke the machine; answer yes.</li>
</ol>
<ol class="mac" style="display: none;">
    <li>Access the Remote Incident Manager icon in your menu extras/status menus.</li>
    <ol>
    <li>If using VoiceOver, press VO+M twice, then locate the Remote Incident Manager menu icon.</li>
    </ol>
    <li>Click this icon, or press VO+Space.</li>
    <li>Select the "Revoke Unattended Access" option.</li>
    <li>You will arrive at a list of computers, select the one you want to revoke.</li>
    <li>You will be asked if you wish to revoke the machine; answer yes.</li>
    </ol>
    <p>That's it! The controller will receive a message stating that this 
machine is no longer available for unattended access. Should they need 
unattended access again, they can reinitiate the procedure to request 
permission for unattended access as described above.</p>
<h2 id="key-command-reference"><a class="header" href="#key-command-reference">Key Command Reference</a></h1>
<div class="table-wrapper"><table class="win" style="display: none;"><thead><tr><th>Action</th><th>Command</th></tr></thead><tbody>
<tr><td>Minimize Session</td><td>Windows+Shift+M</td></tr>
<tr><td>Flip Session</td><td>Windows+Shift+F</td></tr>
<tr><td>Disconnect Session (Controller or Target)</td><td>Windows+Shift+D</td></tr>
</tbody></table>
<div class="table-wrapper"><table class="mac" style="display: none;"><thead><tr><th>Action</th><th>Command</th></tr></thead><tbody>
    <tr><td>Activate RIM Menu</td><td>Option+Shift+Backspace</td></tr>
    <tr><td>Minimize Session</td><td>Option+Shift+M</td></tr>
    <tr><td>Flip Session</td><td>Option+Shift+F</td></tr>
    <tr><td>Disconnect Session (Controller or Target)</td><td>Option+Shift+D</td></tr>
    <tr><td>Accept Incoming Connection Request</td><td>Option+Shift+Y</td></tr>
    <tr><td>Decline Incoming Connection Request</td><td>Option+Shift+N</td></tr>
    </tbody></table>
    
