---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Como se conectar">
    <div id="platformButtons">
       <button id="showWindows">Mudar para os comandos de teclado do Windows</button>
       <button id="showMac">Alternar para comandos de teclado do Mac OS</button>
        </div>
<p>O processo de conexão do Remote Incident Manager foi projetado com velocidade 
e a simplicidade em mente, tanto para a pessoa que está recebendo assistência quanto para a que a está fornecendo.</p>
<h2 id="connecting-to-a-controller"><a class="header" href="#connecting-to-a-controller">Conexão com um controlador</a></h2>
<p>Ao iniciar o Remote Incident Manager pela primeira vez, você estará no modo de destino 
por padrão. Isso significa que você se conectará a uma 
pessoa que configurou uma sessão de suporte remoto para você.<br>
Você chegará a uma caixa de edição chamada "palavra-chave" Digite a palavra-chave emitida
 digite a palavra-chave fornecida a você pela pessoa que o está ajudando e, em seguida, pressione Enter. Isso é tudo 
pronto, você está conectado!</p>
<h2 id="accepting-a-request-to-connect"><a class="header" href="#accepting-a-request-to-connect">Aceitação de uma solicitação de conexão</a></h2>
<p>Se um técnico prestar suporte a você regularmente, sua máquina 
pode estar configurada para receber uma solicitação de conexão sem que nenhum de vocês 
sem que nenhum dos dois tenha que digitar uma palavra-chave. A RIM anunciará que o técnico está 
tentando se conectar. Para aceitar a conexão, pressione
<em class="winCmd" style="display: none;">Windows+Shift+Y,</em>
<em class="macCmd" style="display: none;">Option+Shift+Y,</em>
e a sessão será iniciada momentaneamente.</p>
<h2 id="connecting-to-a-target"><a class="header" href="#connecting-to-a-target">Conexão a um alvo</a></h2>
<p>O processo de configuração da sessão é bastante semelhante. Em vez de
 digitar a palavra-chave, você deverá navegar até o botão "Provide help 
instead". Ao fazer isso pela primeira vez, você será solicitado a 
para configurar uma conta.</p>
<ol>
<li>Digite seu endereço de e-mail.</li>
<li>Verifique se há um código de verificação em seu e-mail e insira-o na RIM.</li>
<li>Em seguida, será solicitado que você digite seu nome, local e número de telefone.</li>
<li>Por fim, você receberá outro código de verificação em seu telefone. Digite esse código na RIM.</li>
<ol>
<li>Se você não tiver um telefone celular capaz de receber mensagens de texto, preencha <a href="https://pneumasolutions.com/products/rim/account-verification/">este formulário.</a> Nós o ajudaremos a verificar sua conta.</li>
<li>Uma observação para números internacionais: Se seu código de verificação não 
não for recebido, certifique-se de que o código do país antes do seu número seja indicado 
pelo sinal de mais, em vez de 00.</li>
</ol>
</ol>
<p>Agora que você está conectado, digite a palavra-chave que o alvo usará
 para se conectar a você. Ao navegar além da caixa de edição, você encontrará 
uma caixa de seleção que determina se você deve ou não iniciar uma 
conversa por voz durante a sessão (isso pode ser ativado ou desativado durante a 
a sessão também). Depois disso, você encontrará o botão "Start" (Iniciar). Quando
 clicar nesse botão, você ficará na sala de espera até que seu alvo se conecte 
se conecte. Nesse momento, você deverá enviar a palavra-chave que acabou de 
digitada para a pessoa com a qual você se conectará, pois é ela que
 ela usará para se conectar. Depois que ela se conectar, você receberá um alerta 
informando que a sessão remota está prestes a começar. Observe 
o comando mencionado
<em class="winCmd" style="display: none;">Windows+Shift+Backspace</em>
<em class="macCmd" style="display: none;">Option+Shift+Backspace</em>
pois esse atalho 
abrirá o menu RIM em seu computador. Se você depende exclusivamente do teclado 
exclusivamente no teclado, essa é a única maneira de direcionar a entrada do teclado de volta ao seu 
próprio sistema. Depois que você encerrar essa caixa de diálogo, a sessão remota será 
iniciada.</p>
</Layout>