---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Instalação">
<p>A forma como você adquire e instala o Remote Incident Manager depende de seu caso de uso e de sua configuração 
    caso de uso e da configuração, mas, de qualquer forma, o processo é bastante 
    simples.</p>
    <div id="platformButtons">
       <button id="showWindows">Instruções de instalação do Switch to Windows</button>
       <button id="showMac">Instruções de instalação do Switch to Mac OS</button>
        </div>
            <div class="win" style="display: none;">
<h2 id="typical-installation-for-individuals"><a class="header" href="#typical-installation-for-individuals">Instalação típica para pessoas físicas</a></h2>
<p>Há apenas um pacote de instalação a ser usado, quer você esteja oferecendo ou recebendo assistência.</p>
<ol>
<li><a href="https://download.pneumasolutions.com/rim/rimsetup.exe">Faça o download do Remote Incident Manager</a></li>
<li>Execute o arquivo baixado.</li>
<li>Se tiver o controle de conta de usuário ativado, pressione Alt+Y para aprovar a instalação.</li>
<li>Quando o arquivo for iniciado, a instalação começará automaticamente 
iniciará automaticamente. Não é preciso se preocupar com os próximos botões. Basta sentar-se, 
relaxe e deixe que ele faça seu trabalho. Em segundos, o programa será 
instalado e será iniciado automaticamente.</li>
</ol>
<p>Isso é tudo o que há para fazer! Um atalho na área de trabalho será automaticamente 
criado para ajudar nas execuções subsequentes do RIM. Além disso, o RIM configura uma
 tecla de atalho global multiuso<em>(Windows+Shift+Backspace</em>) que, entre outras coisas, inicia automaticamente o programa de onde quer que você esteja.</p>
<h2 id="unattended-access-installer"><a class="header" href="#unattended-access-installer">Instalador de acesso não assistido ou solicitado</a></h2>
<p>Se a pessoa que estiver prestando assistência tiver fornecido a você um instalador 
    personalizado, você será informado sobre isso quando o instalador for iniciado. Isso ocorre
     isso ocorre porque esse instalador configurará automaticamente o RIM para o que é conhecido como 
    conhecido como acesso autônomo ou solicitado. Isso é o que permitirá que a pessoa que estiver ajudando 
    iniciar uma sessão com seu computador sem que você precise digitar
     uma palavra-chave. Abordaremos esses tipos de sessões em detalhes mais adiante neste 
    manual.</p>
    <h2 id="silent-installation"><a class="header" href="#silent-installation">Instalação silenciosa</a></h2>
<p>Você desejará fazer isso ao implantar o RIM em várias máquinas. Basta usar o parâmetro de linha de comando <em>/S</em> em seu script de implementação. Observe que ele diferencia maiúsculas de minúsculas, portanto, é necessário um S maiúsculo.</p>
<h2 id="additional-considerations-for-windows-servers"><a class="header" href="#additional-considerations-for-windows-servers">Considerações adicionais para servidores Windows</a></h2>
<p>Para instalar o RIM em seu Windows Server, conecte-se ao servidor via RDP.
 Para obter a experiência de conexão mais estável, recomendamos 
usar o aplicativo Remote Desktop da Microsoft Store.</p>
<h3 id="obtaining-sound-and-running-narrator"><a class="header" href="#obtaining-sound-and-running-narrator">Obtenção de som e execução do Narrador</a></h3>
<p>Para obter o som, faça o seguinte quando estiver conectado:</p>
<ol>
<li>Pressione a tecla Windows+r.</li>
<li>Digite cmd e pressione Enter. Aguarde cerca de dez segundos.</li>
<li>Digite:<br>
<code class="hljs">net start audiosrv</code><br>
e pressione Enter.</li>
<li>Agora, pressione CTRL+Windows+Enter para ativar o Narrador. Se tudo tiver funcionado corretamente, você deverá obter a fala.</li>
</ol>
<p>Agora você pode seguir o procedimento de instalação conforme descrito acima.<br>
Observe que, se você precisar de som para conexões subsequentes via RIM, 
será necessário instalar um dispositivo virtual de saída de som no servidor. 
A versão gratuita do <a href="http://virtualaudiocable.org/download/software/VACSetup.exe">Virtual Audio Cable</a> deve ser suficiente.</p>
</div>
<div class="mac" style="display: none;">
    <h2 id="typical-installation-for-individuals"><a class="header" href="#typical-installation-for-individuals">Instalação típica para pessoas físicas</a></h2>
    <p>Há apenas um pacote de instalação a ser usado, quer você esteja oferecendo ou recebendo assistência.</p>
    <ol>
    <li><a href="https://download.pneumasolutions.com/rim/rim-mac.pkg">Faça o download do Remote Incident Manager</a></li>
    <li>Acesse a pasta de downloads pelo Finder<em>(Opção+comando+L</em>). Localize o arquivo .pkg baixado e abra-o com <em>Command+O</em>.</li>
    <li>Será exibido um assistente de instalação. Siga as instruções na tela.</li>
    </ol>
    <p>Você está pronto para executar o Remote Incident Manager pela primeira vez! Você pode executá-lo na pasta de aplicativos, acessada com <em>Command+Shift+A</em> enquanto estiver no Finder. Além disso, o RIM configura uma tecla de atalho global multiuso<em>(Option+Shift+Backspace</em>) que, entre outras coisas, inicia automaticamente o programa de onde quer que você esteja.</p>
    <h2 id="permissions"><a class="header" href="#permissions">Permissões</a></h2>
    <p>Devido ao comportamento de precaução do Mac OS ao lidar com aplicativos
     dessa natureza pela primeira vez, você precisará conceder algumas permissões ao 
    permissões ao Remote Incident Manager na primeira inicialização.</p>
    <h3 id="karabiner-hid-driver"><a class="header" href="#karabiner-hid-driver">Driver HID do Karabiner</a></h3>
    <p>Esse é o driver que processa a entrada recebida pelo RIM. Esse driver
     é uma extensão do kernel, portanto, você deve aprová-lo manualmente. O RIM 
    exibirá uma caixa de diálogo do sistema que o levará à seção Privacidade e 
    Security (Privacidade e segurança) das configurações do sistema. Em seguida, você deverá rolar a tela até 
    localizar o botão Allow (Permitir). Clicar nesse botão solicitará sua senha ou 
    senha ou Touch ID e, em seguida, você será informado de que precisa 
    reinicializar para ativar totalmente o Karabiner Elements. Se você reiniciar 
    agora ou mais tarde é com você, mas se decidir não reiniciar até que todas as
     as permissões tenham sido aprovadas, saia das Configurações do sistema e volte para o 
    e volte para o RIM.</p>
    <h3 id="receiving-input"><a class="header" href="#receiving-input">Recebimento de entrada</a></h3>
    <p>O RIM precisa de permissão para receber todas as entradas direcionadas a ele por meio de uma conexão remota.<br>
    Clique em Continue (Continuar) na janela do RIM e, nesse momento, será exibida uma caixa de diálogo do sistema 
    solicitando permissões de serviço de acessibilidade será exibida. Se o VoiceOver 
    não o focalizar imediatamente, pressione <em>VO+F1</em> duas vezes rapidamente. Em seguida,
     pressione a seta para baixo até Diálogos do sistema, pressione a seta para a direita e, em seguida, para baixo até a
     solicitação de permissões de teclado. Pressionar enter abrirá a caixa de alerta 
    caixa de alerta e, nesse ponto, você deverá segui-la até Configurações do sistema 
    e marcar a caixa Remote Incident Manager na lista de aplicativos.</p>
    <h3 id="capturing-screen-output"><a class="header" href="#capturing-screen-output">Capturando a saída da tela</a></h3>
    <p>A próxima solicitação de permissão da RIM será para capturar a saída da tela
     que será canalizada pela conexão remota. O procedimento 
    para isso é semelhante ao procedimento anterior.</p>
    <h3 id="notifications"><a class="header" href="#notifications">Notificações</a></h3>
    <p>A solicitação de permissão final da RIM será para notificações. A RIM 
    notificará você quando uma sessão começar e terminar. O procedimento para 
    conceder essa permissão é semelhante ao procedimento anterior.</p>
    <h3 id="welcome-screen"><a class="header" href="#welcome-screen">Tela de boas-vindas!</a></h3>
    <p>Depois que todas as permissões tiverem sido aprovadas, a tela de boas-vindas será
     será exibida. Observe que, se você optar por reinicializar mais tarde, agora seria um bom momento para reinicializar 
    momento para reinicializar.
    Nesse momento, a RIM está pronta para iniciar ou receber conexões.</p>
    </div>
    <div id="unknown-content" style="display: none">
        <p>Selecione um sistema operacional usando os botões acima.</p>
    </div>

</Layout>