---
title: "System Requirements"
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
  <Layout title="Requisitos do sistema">
<p>Para executar o Remote Incident Manager, seu sistema deve atender ou exceder os seguintes requisitos:</p>
<div id="platformButtons">
<button id="showWindows">Mudar para os requisitos do Windows</button>
<button id="showMac">Mudar para os requisitos do Mac OS</button>
</div>
<div class="win" style="display: none;">
  <ul>
        <li>Windows 7 SP1 ou posterior</li>
        <li>Windows Server 2012 ou posterior</li>
        <li>Pelo menos 4 GB de RAM</li>
        <li>Privilégios de administrador para a instalação inicial (não é necessário para atualizações automáticas)</li>
      </ul>
    </div>
      <div class="mac" style="display: none;">
        <ul>
        <li>Intel ou Apple Silicon</li>
        <li>Mac OS Ventura</li>
        <li>Pelo menos 4 GB de RAM</li>
        <li>Privilégios de administrador para a instalação inicial (não é necessário para atualizações automáticas)</li>
      </ul>
    </div>
      <div id="unknown-content" style="display: none">
        <p>Selecione um sistema operacional usando os botões acima.</p>
    </div>
</Layout>