---
import Layout from '../../layouts/toc.astro';
title: "System Requirements"
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<h1>System Requirements</h1>
<p>In order to run Remote Incident Manager, your system must meed or exceed the following requirements:</p>
<div id="windows-requirements" style="display: none;">
  <ul>
        <li>Windows 7 SP1 or later</li>
        <li>Windows Server 2012 or later</li>
        <li>At least 4GB of RAM</li>
        <li>Admin privileges for initial installation (not required for automatic updates)</li>
      </ul>
    </div>
      <div id="mac-requirements" style="display: none;">
        <ul>
        <li>Intel or Apple Silicon</li>
        <li>Mac OS Ventura</li>
        <li>At least 4GB of RAM</li>
        <li>Admin privileges for initial installation (not required for automatic updates)</li>
      </ul>
    </div>
      <div id="unknown-content" style="display: none">
        <p>Sorry, I am having difficulties identifying what platform you are running.</p>
    </div>
  