---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Att bli uppkopplad">
    <div id="platformButtons">
       <button id="showWindows">Byt till Windows-tangentbordskommandon</button>
       <button id="showMac">Växla till Mac OS-tangentbordskommandon</button>
        </div>
<p>Remote Incident Managers anslutningsprocess är utformad med snabbhet 
och enkelhet i åtanke, både för den som tar emot hjälp och för den som tillhandahåller den.</p>
<h2 id="connecting-to-a-controller"><a class="header" href="#connecting-to-a-controller">Ansluta till en styrenhet</a></h2>
<p>När du startar Remote Incident Manager första gången är du som standard i 
läge som standard. Det innebär att du kommer att ansluta till en 
person som har skapat en fjärrsupportsession för dig.<br>
Du kommer att hamna i en redigeringsruta märkt "nyckelord" Ange det nyckelord som du har fått
 av personen som hjälper dig och tryck sedan på Enter. Det var allt 
du är ansluten!</p>
<h2 id="accepting-a-request-to-connect"><a class="header" href="#accepting-a-request-to-connect">Acceptera en begäran om att ansluta</a></h2>
<p>Om en tekniker ger dig support regelbundet kan din maskin vara 
vara inställd på att ta emot en begäran om att ansluta utan att någon av er 
behöver ange ett nyckelord. RIM kommer att meddela att din tekniker 
försöker ansluta. För att acceptera anslutningen trycker du på
<em class="winCmd" style="display: none;">Windows+Skift+Y,</em>
<em class="macCmd" style="display: none;">Alternativ+Skift+Y,</em>
och sessionen kommer att påbörjas inom en kort stund.</p>
<h2 id="connecting-to-a-target"><a class="header" href="#connecting-to-a-target">Ansluta till ett mål</a></h2>
<p>Processen för att konfigurera sessionen är ganska likartad. I stället för att
 ange nyckelordet vill du navigera till knappen "Ge hjälp istället 
istället"-knappen. När du gör detta för första gången kommer du att bli ombedd 
att skapa ett konto.</p>
<ol>
<li>Ange din e-postadress.</li>
<li>Kontrollera din e-post för en verifieringskod och ange den sedan i RIM.</li>
<li>Du kommer sedan att bli ombedd att ange ditt namn, din plats och ditt telefonnummer.</li>
<li>Slutligen kommer du att få en annan verifieringskod på din telefon. Ange denna kod i RIM.</li>
<ol>
<li>Om du inte har en mobiltelefon som kan ta emot textmeddelanden, vänligen fyll i <a href="https://pneumasolutions.com/products/rim/account-verification/">detta formulär</a>. Vi hjälper dig att få ditt konto verifierat.</li>
<li>En anmärkning för internationella nummer: Om din verifieringskod inte 
inte kommer fram, kontrollera att landskoden före ditt nummer betecknas 
med plustecknet, snarare än 00.</li>
</ol>
</ol>
<p>Nu när du är inloggad anger du det nyckelord som målet kommer att använda
 för att ansluta till dig. När du navigerar förbi redigeringsrutan kommer du att 
en kryssruta som avgör om en röstkonversation ska startas eller inte 
konversation under sessionen (detta kan också slås på eller av under 
sessionen också). Efter det hittar du knappen "Start". När du
 du klickar på den kommer du att befinna dig i väntrummet tills ditt mål 
ansluter. Vid denna tidpunkt vill du skicka nyckelordet du just 
in till den person du kommer att ansluta till, eftersom det här är vad de kommer att
 använda för att ansluta. När de har anslutit får du en avisering 
som informerar dig om att fjärrsessionen är på väg att börja. Lägg märke till 
de nämnda
<em class="winCmd" style="display: none;">Windows+Skift+Backspace</em>
<em class="macCmd" style="display: none;">Alternativ+Skift+Backspace</em>
genväg eftersom det kommer att 
upp RIM-menyn på din maskin. Om du förlitar dig på tangentbordet 
tangentbordet är detta det enda sättet att styra tangentbordsinmatning tillbaka till 
eget system. När du har avfärdat denna dialog kommer fjärrsessionen att 
initierad.</p>
</Layout>