---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Installation">
<p>Hur du skaffar och installerar Remote Incident Manager beror på ditt användningsområde 
    användningsområde och konfiguration, men processen är i alla fall ganska 
    rakt fram.</p>
    <div id="platformButtons">
       <button id="showWindows">Installationsanvisningar för byte till Windows</button>
       <button id="showMac">Installationsanvisningar för byte till Mac OS</button>
        </div>
            <div class="win" style="display: none;">
<h2 id="typical-installation-for-individuals"><a class="header" href="#typical-installation-for-individuals">Typisk installation för enskilda personer</a></h2>
<p>Det finns bara ett installationspaket att använda, oavsett om du erbjuder eller tar emot hjälp.</p>
<ol>
<li><a href="https://download.pneumasolutions.com/rim/rimsetup.exe">Ladda ner Remote Incident Manager</a></li>
<li>Kör den nedladdade filen.</li>
<li>Om du har användarkontokontroll aktiverat trycker du på Alt+Y för att godkänna installationen.</li>
<li>När filen har startats kommer installationen automatiskt att 
automatiskt. Det finns inga nästa-knappar att oroa sig för. Luta dig bara tillbaka, 
slappna av och låt den göra sin grej. Inom några sekunder kommer programmet att 
installerat och startar automatiskt.</li>
</ol>
<p>Det är allt som behövs! En genväg på skrivbordet skapas automatiskt 
skapas för att underlätta efterföljande lanseringar av RIM. Dessutom skapar RIM en global
 global snabbtangent<em>(Windows+Shift+Backspace</em>) som, bland annat, automatiskt startar programmet var du än befinner dig.</p>
<h2 id="unattended-access-installer"><a class="header" href="#unattended-access-installer">Installatör för obevakad eller uppmanad åtkomst</a></h2>
<p>Om den person som tillhandahåller assistans har gett dig en anpassad 
    installationsprogram, kommer du att informeras om detta när installationsprogrammet startas. Detta
     beror på att installationsprogrammet automatiskt konfigurerar RIM för vad som 
    kallas antingen obevakad eller uppmanad åtkomst. Detta gör det möjligt för den person som hjälper 
    hjälpa dig att starta en session med din dator utan att du behöver ange
     ett nyckelord. Vi kommer att gå igenom dessa typer av sessioner på djupet senare i 
    handboken.</p>
    <h2 id="silent-installation"><a class="header" href="#silent-installation">Tyst installation</a></h2>
<p>Detta kan vara bra att göra när du distribuerar RIM till flera datorer. Använd helt enkelt kommandoradsparametern <em>/S</em> i ditt distributionsskript. Observera att det är skiftlägeskänsligt, så ett stort S krävs.</p>
<h2 id="additional-considerations-for-windows-servers"><a class="header" href="#additional-considerations-for-windows-servers">Ytterligare överväganden för Windows-servrar</a></h2>
<p>För att installera RIM på din Windows Server, anslut till servern via RDP.
 För att få den mest stabila anslutningen rekommenderar vi att du 
använda appen Fjärrskrivbord från Microsoft Store.</p>
<h3 id="obtaining-sound-and-running-narrator"><a class="header" href="#obtaining-sound-and-running-narrator">Skaffa ljud och köra Narrator</a></h3>
<p>För att få ljud, gör följande när du är ansluten:</p>
<ol>
<li>Tryck på Windows-tangenten+r.</li>
<li>Skriv cmd och tryck på enter. Vänta i ungefär tio sekunder.</li>
<li>Skriv in:<br>
<code class="hljs">net start audiosrv</code><br>
och tryck på Enter.</li>
<li>Tryck nu på CTRL+Windows+Enter för att aktivera Narrator. Om allt fungerade korrekt bör du få tal.</li>
</ol>
<p>Du kan nu följa installationsproceduren som beskrivs ovan.<br>
Observera att om du behöver ljud för efterföljande anslutningar via RIM, 
måste du installera en virtuell ljudutgångsenhet på din server. 
Gratisversionen av <a href="http://virtualaudiocable.org/download/software/VACSetup.exe">Virtual Audio Cable</a> bör räcka.</p>
</div>
<div class="mac" style="display: none;">
    <h2 id="typical-installation-for-individuals"><a class="header" href="#typical-installation-for-individuals">Typisk installation för privatpersoner</a></h2>
    <p>Det finns bara ett installationspaket att använda, oavsett om du erbjuder eller tar emot hjälp.</p>
    <ol>
    <li><a href="https://download.pneumasolutions.com/rim/rim-mac.pkg">Ladda ner Remote Incident Manager</a></li>
    <li>Gå till din nedladdningsmapp via Finder<em>(Alternativ+kommando+L</em>). Leta reda på den nedladdade .pkg-filen och öppna den med <em>Command+O</em>.</li>
    <li>En installationsguide visas. Följ instruktionerna på skärmen.</li>
    </ol>
    <p>Nu är du redo att köra Remote Incident Manager för första gången! Du kan köra den från mappen Program, som du når via <em>Kommando+Shift+A</em> i Finder. RIM har dessutom en global snabbtangent<em>(Option+Shift+Backspace</em>) som bl.a. automatiskt startar programmet var du än befinner dig.</p>
    <h2 id="permissions"><a class="header" href="#permissions">Behörigheter</a></h2>
    <p>På grund av Mac OS:s försiktighetsprincip när det gäller att hantera program
     den här typen av program för första gången, måste du ge vissa 
    behörigheter till Remote Incident Manager vid första lanseringen.</p>
    <h3 id="karabiner-hid-driver"><a class="header" href="#karabiner-hid-driver">Karabiner HID-drivrutin</a></h3>
    <p>Detta är den drivrutin som bearbetar indata som tas emot av RIM. Detta är
     är ett kärntillägg, så du måste godkänna det manuellt. Rim kommer att 
    upp en systemdialog som tar dig till avsnittet Sekretess och 
    Säkerhet i systeminställningarna. Du kommer sedan att bläddra tills 
    du hittar knappen Tillåt. Om du klickar på denna uppmanas du att ange ditt 
    lösenord eller touch-ID, varefter du informeras om att du måste 
    omstarta för att fullt ut aktivera Karabiner Elements. Om du startar om 
    nu eller senare är upp till dig, men om du bestämmer dig för att inte starta om förrän alla
     behörigheterna har godkänts, avsluta Systeminställningar och gå 
    tillbaka till RIM.</p>
    <h3 id="receiving-input"><a class="header" href="#receiving-input">Ta emot indata</a></h3>
    <p>RIM behöver tillstånd för att ta emot all input som skickas till den via en fjärranslutning.<br>
    Klicka på Fortsätt i RIM-fönstret, varpå en systemdialog visas 
    som begär behörighet för tillgänglighetstjänster visas. Om VoiceOver 
    inte omedelbart fokuserar på det, tryck snabbt två gånger på <em>VO+F1</em>. Tryck sedan på
     nedåtpil till Systemdialoger, tryck på högerpil och sedan nedåt till
     begäran om tangentbordsbehörighet. Om du trycker på Enter öppnas 
    varningsrutan, och då vill du följa den till Systeminställningar 
    och markera rutan Remote Incident Manager i listan över program.</p>
    <h3 id="capturing-screen-output"><a class="header" href="#capturing-screen-output">Fånga skärmutdata</a></h3>
    <p>Nästa tillståndsförfrågan från RIM kommer att vara för att fånga skärmen
     som kommer att skickas över fjärranslutningen. Proceduren 
    för detta liknar den föregående proceduren.</p>
    <h3 id="notifications"><a class="header" href="#notifications">Meddelanden</a></h3>
    <p>Den sista begäran om tillstånd från RIM gäller aviseringar. RIM 
    kommer att meddela dig när en session börjar och slutar. Förfarandet för att 
    bevilja detta tillstånd liknar den föregående proceduren.</p>
    <h3 id="welcome-screen"><a class="header" href="#welcome-screen">Välkomstskärm!</a></h3>
    <p>När alla behörigheter har godkänts visas välkomstskärmen
     visas. Observera att om du väljer att starta om senare är detta en bra 
    bra tillfälle att starta om.
    Vid det här laget är RIM redo att initiera eller ta emot anslutningar.</p>
    </div>
    <div id="unknown-content" style="display: none">
        <p>Välj ett operativsystem med hjälp av knapparna ovan.</p>
    </div>

</Layout>