---
title: "System Requirements"
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
  <Layout title="Systemkrav">
<p>För att kunna köra Remote Incident Manager måste ditt system uppfylla eller överträffa följande krav:</p>
<div id="platformButtons">
<button id="showWindows">Växla till Windows-krav</button>
<button id="showMac">Växla till Mac OS-krav</button>
</div>
<div class="win" style="display: none;">
  <ul>
        <li>Windows 7 SP1 eller senare</li>
        <li>Windows Server 2012 eller senare</li>
        <li>Minst 4 GB RAM-minne</li>
        <li>Administratörsbehörighet för den första installationen (krävs inte för automatiska uppdateringar)</li>
      </ul>
    </div>
      <div class="mac" style="display: none;">
        <ul>
        <li>Intel eller Apple-kisel</li>
        <li>Mac OS Ventura</li>
        <li>Minst 4 GB RAM-minne</li>
        <li>Administratörsbehörighet för initial installation (krävs inte för automatiska uppdateringar)</li>
      </ul>
    </div>
      <div id="unknown-content" style="display: none">
        <p>Välj operativsystem med hjälp av knapparna ovan.</p>
    </div>
</Layout>