---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Arbeta inom en session">
    <div id="platformButtons">
       <button id="showWindows">Instruktioner för byte till Windows</button>
       <button id="showMac">Instruktioner för att byta till Mac OS</button>
        </div>
<h2 id="things-to-know-before-you-begin"><a class="header" href="#things-to-know-before-you-begin">Saker att veta innan du börjar</a></h2>
<p>Några saker kommer att hända omedelbart efter att anslutningen har upprättats.</p>
<ul>
<li>Fjärrkontrollfönstret för sessionen visas.</li>
<li>Du kommer att informeras om status för den skärmläsare som körs, eller avsaknaden av en sådan, på klientens dator.</li>
<li>Om klienten kör en skärmläsare visas ett toastmeddelande 
som informerar användaren om att fjärrsessionen har påbörjats kommer att ge 
omedelbar bekräftelse på att användarens systemljud fungerar.</li>
<li>Ett Mac-mål kommer att visa tangentbordsinställningsassistenten om det är första gången en styrenhet har anslutits till det.</li>
    <ul>
    <li>Detta är för det virtuella Karabiner-tangentbordet, som lyssnar på tangentbordskommandon som skickas till det av en styrenhet.</li>
    <li>Du bör därför gå igenom installationsassistenten med måldatorn
     installationsassistenten, eftersom den kommer att lyssna efter tangentbordstryckningar i 
    identifieringsprocessen, inte Mac-datorns eget tangentbord.</li>
    </ul>
    <li>Sist men inte minst kommer alla tangentbords- och musinmatningar omedelbart att
 direkt till måldatorn. Om du vill återföra kontrollen till din 
maskin gör du något av följande:</li>
<ul class="winCmd" style="display: none;">
<li>tryck på Windows+Shift+Backspace.</li>
<li>högerklicka på titelfältet i RIM-fönstret.</li>
<li>vänsterklicka på RIM-ikonen.</li>
</ul>
<ul class="macCmd" style="display: none;">
    <li>tryck på Option+Shift+Backspace.</li>
    <li>Klicka på den stora RIM-ikonen i det övre vänstra hörnet av sessionsfönstret.</li>
    </ul>
    
</ul>
<h2 id="remote-control-zone"><a class="header" href="#remote-control-zone">Zonen för fjärrstyrning</a></h2>
<p>Vid det här laget är du redo att utföra de uppgifter som behöver göras på
 på klientsidan. Om du behöver växla tillbaka till att styra din egen
 maskin, ta fram RIM-menyn och välj sedan alternativet "Minimera session" 
alternativet. Du kommer att återgå till din maskin tills du växlar tillbaka 
till sessionsfönstret eller trycker på Windows+Shift+Backspace igen. När du
 återgår till sessionsfönstret kommer tangentbords- och musinmatningar återigen att 
till klientdatorn.<br>
När du är klar kan antingen styrenheten eller målet gå till 
RIM-menyn och välja alternativet "Koppla från session". När sessionen 
avslutas kommer måldatorn att få ett toastmeddelande som informerar dem om
 detta.</p>
<h2 id="the-rim-menu"><a class="header" href="#the-rim-menu">RIM-menyn</a></h2>
<p>Som tidigare nämnts leder åtkomst till RIM-menyn dig tillbaka till din
 maskin. Det finns ett antal alternativ i den här menyn. De inkluderar följande</p>
<ul>
<li>Uppdatera RIM på målet: Tvingar fram en uppdatering av RIM på måldatorn</li>
<ul>
<li>Det här alternativet visar om måldatorn kör en äldre version av RIM</li>
</ul>
<li>Minimera session: återför kontrollen till din dator enligt beskrivningen ovan</li>
<ul>
<li>Du kan också använda genvägen
   <em class="winCmd" style="display: none;">Windows+Skift+M</em>
   <em class="macCmd" style="display: none;">Alternativ+Skift+M</em>
         för att minimera sessionen.</li>
</ul>
<li>Överför fil till mål: Visas om en fil finns i Urklipp.</li>
<ul>
<li>Även om denna alternativa metod för att slutföra en filöverföring 
alltid är tillgänglig, är den endast nödvändig för att överföra filer till Mac 
mål.</li>
</ul>
<li>Flip-session: Gör det möjligt för din klient att fjärrstyra din maskin och 
höra dess ljud. Som den ursprungliga styrenheten kan du vända sessionen 
tillbaka genom att välja det här alternativet en andra gång.</li>
<ul>
<li>Du kan också använda kortkommandot
   <em class="winCmd" style="display: none;">Windows+Skift+F</em>
   <em class="macCmd" style="display: none;">Alternativ+Skift+F</em>
    för att bläddra fram och tillbaka i sessionen.</li>
</ul>
<li>Starta/stoppa röstkonversation: Här kan du slå på eller av röstchatten för din session.</li>
<ul>
<li>Observera att detta alternativ inte är tillgängligt i obevakade sessioner eftersom de 
inte stöder röstchatt. Sessioner med uppmaning stöder dock fortfarande 
detta.</li>
</ul>
<li>Starta fjärråtkomst: Det här alternativet visas när ingen skärmläsare 
skärmläsare körs på fjärrdatorn. Detta kommer att aktivera tal på 
din sida, men klienten behöver inte oroa sig för att höra tal.</li>
<ul>
<li>Om en skärmläsare (inklusive Fjärrtillgänglighet) körs förvandlas det här alternativet till en tvingande avslutning för den skärmläsare som körs. Detta är användbart när målets skärmläsare slutar att svara så mycket att du inte kan starta om den normalt.</li>
</ul>
<li>Starta om och återanslut: Låter dig starta om datorn och automatiskt återansluta sessionen.</li>
<ul>
    <li>Observera att ett Mac-mål inte kan starta RIM före inloggning på grund av plattformsbegränsningar, särskilt FileVault.</li>
    <li>RIM kommer därför att återansluta när användaren loggar in.</li>
    </ul>
        <li>Skicka Kontroll+Alt+Delete: Skickar denna tangenttryckning till fjärrdatorn.</li>
        <ul>
            <li>En motsvarighet till det här alternativet har ännu inte implementerats för Mac-mål.</li>
            </ul>
<li>Begär obevakad eller uppmanad åtkomst: Gör att du kan skicka en begäran 
om obevakad åtkomst till klientdatorn. Detta är användbart om du är
 sysadmin och behöver utföra rutinunderhåll, eller till och med för något
 så enkelt som att styra hemmamaskinen när du är på språng.</li>
<li>Lås målmaskinen: Utför motsvarande Windows+L.</li>
<li>Visa anslutningsdetaljer: Ger en detaljerad översikt över din anslutning och målmaskinen. Informationen omfattar bland annat</li>
<ul>
<li>Anslutningsstatistik</li>
<li>Information om datorn, inklusive operativsystemversion, tillgänglig ram, etc.</li>
<li>Processer som körs (Windows-mål)</li>
<li>Installerade paket (Windows-mål)</li>
</ul>
<li>Koppla bort session: Avslutar sessionen.</li>
<ul>
<li>Kom ihåg att detta alternativ är tillgängligt för båda sidor av sessionen.</li>
<li>Detta är också möjligt via tangentbordskommandot
   <em class="winCmd" style="display: none;">Windows+Skift+D.</em>
   <em class="macCmd" style="display: none;">Alternativ+Skift+D.</em>
</li>
</ul>
</ul>
<h2 id="file-transfers"><a class="header" href="#file-transfers">Filöverföring</a></h2>
<p>RIM erbjuder en enkel möjlighet att överföra filer, oavsett vilken plattform som används.</p>
<ol>
<li>Visa RIM-menyn och klicka på "Minimera session" Kontrollen kommer att skickas tillbaka till din dator.</li>
<li>Välj den eller de filer och/eller mappar som du vill överföra med hjälp av din filhanterare.</li>
<li>Kopiera det valda innehållet till Urklipp på vanligt sätt. Du 
får ett meddelande om att en fil är redo att överföras. Du har 
har två alternativ.</li>
<ol>
<li>Om målet är en Mac:</li>
<ol>
<li>Aktivera RIM-sessionsmenyn och klicka på alternativet "Transfer File to Target".</li>
<li>När överföringen är klar kommer målets Mac att generera en 
temporär katalog som innehåller det överförda innehållet. Dessa bör 
kopieras och klistras in i de avsedda katalogerna.</li>
</ol>
<li>Om målet är en Windows-maskin:</li>
<ol>
<li>Växla tillbaka till fjärrsessionen och leta upp den mapp på måldatorn där du vill klistra in innehållet.</li>
<li>Sist men inte minst, klistra in som vanligt.</li>
</ol>
</ol>
</ol>
<!-- end -->
<p>Observera att överföringstiden beror helt på storleken på det innehåll som skickas samt hastigheten på ditt nätverk.</p>
<h2 id="remote-accessibility-module"><a class="header" href="#remote-accessibility-module">Modul för tillgänglighet på distans</a></h2>
<p>Oavsett om du hjälper en användare som inte använder en skärmläsare, eller 
diagnostiserar ett problem med en skärmläsare som inte fungerar, är RIM 
fullt förberedd på att hjälpa dig.</p>
<div class="win" style="display: none;">
    <p>Modulen för fjärråtkomst består av två komponenter:</p>
<ul>
<li>Ett tillägg för <a href="https://nvaccess.org/">NVDA-skärmläsaren</a> som gör att skärmläsaren kan ta emot utdata från fjärrdatorn</li>
<li>En fristående tillgänglighetsmodul som startas på måldatorn på 
på begäran av den personuppgiftsansvarige. Fördelen med detta tillvägagångssätt 
tillvägagångssätt är att slutanvändaren inte hör tal på sin dator 
medan du kontrollerar den. Istället skickar fjärrtillgänglighetsmodulen 
talet genom en pipeline till den körande kopian av NVDA på styrenhetens 
styrenhetens sida. På så sätt kan du på ett tillgängligt sätt hjälpa en slutanvändare utan
 behöva installera eller ens ladda ner en skärmläsare.</li>
</ul>
</div>
<div class="mac" style="display: none">
    <p>Modulen för fjärrtillgänglighet är en
    speciell konfiguration som initieras på mål-Mac-enheten på begäran av en
    Windows- eller Mac-styrenhet. Fördelen med detta tillvägagångssätt är att 
   slutanvändaren inte hör tal på sin dator medan du kontrollerar
    den. Istället skickar fjärrtillgänglighetsmodulen talutmatningen 
   till talsystemet på styrenhetens sida. På så sätt kan du 
   på ett tillgängligt sätt hjälpa en slutanvändare utan att de behöver aktivera en skärm 
   läsare.
   Om du kör VoiceOver på den kontrollerande Mac-enheten startar 
   fjärrtillgänglighetsmodulen automatiskt under fjärrsessioner 
   där fjärrdatorn inte har en skärmläsare igång.
</div>
<div class="win" style="display: none">
    <h3 id="setup-procedure"><a class="header" href="#setup-procedure">Inställningsförfarande</a></h3>
<p>Här är vad du behöver göra för att initiera tillgänglighetsmodulen för första gången:</p>
<ol>
<li>Anslut till en dator som inte har en skärmläsare igång.</li>
<li>Om NVDA körs för närvarande kommer du att bli ombedd att installera ett tillägg 
som gör att din kopia av NVDA kan kommunicera med fjärrdatorn under 
fjärrdatorn under sessionen. Acceptera installationsuppmaningarna och vänta 
på att NVDA startas om.</li>
<li>Vid det här laget kommer fjärråtkomstmodulen att vara helt initialiserad, 
och du kommer att höra tal när du styr fjärrdatorn.</li>
</ol>
<p>Från och med nu, om du kör en skärmläsare på den kontrollerande 
kontrolldator kommer modulen för fjärråtkomst automatiskt att 
startas automatiskt under fjärrsessioner där fjärrdatorn inte har en
 skärmläsare igång. Om du kör en annan skärmläsare än
 NVDA, kommer RIM att koppla ur den skärmläsaren och sedan växla över till
 NVDA.
Om du behöver stoppa fjärrtillgänglighetsmodulen på fjärrdatorn för att 
maskinen för att starta en annan skärmläsare, väljer du helt enkelt alternativet "Stoppa fjärråtkomst" i RIM-menyn.</p>
</div>
<h2 id="rebooting-and-reconnecting"><a class="header" href="#rebooting-and-reconnecting">Omstart och återanslutning</a></h2>
<p>Oavsett om du installerar systemuppdateringar eller arbetar dig ur ett
 systemhängning, har RIM hjälpt dig under omstartsprocessen. 
Om du väljer alternativet "Starta om och återanslut" i RIM-menyn kan du 
du antingen utföra en graciös omstart eller en nödomstart, 
beroende på vilket tillstånd datorn befinner sig i. När datorn håller på att 
omstartar informerar RIM dig om att försök till återanslutning 
görs.<br>
Observera att om datorn startas om genom en programvaruinstallation eller 
omstartas manuellt på vanligt sätt, kommer du att tillfrågas om du vill 
återansluta sessionen. Observera också att i båda fallen kommer Mac 
targets endast återansluta när användaren loggar in. Detta beror på 
att RIM inte kan starta automatiskt på inloggningsskärmen på grund av 
plattformsbegränsningar, framför allt FileVault-diskkryptering.</p>
<h2 id="unattended-or-prompted-access"><a class="header" href="#unattended-or-prompted-access">Obevakad eller uppmanad åtkomst</a></h2>
<p>Med RIM kan du, som styrenhet, konfigurera maskiner för 
obevakad eller uppmanad åtkomst. Detta gör att du kan tillhandahålla fjärr 
fjärrhjälp utan att användaren behöver starta RIM, ange ett nyckelord eller 
ens vara i närheten av datorn. Detta är användbart om du är en sysadmin 
utför rutinunderhåll på datorer i din arbetsgrupp, eller för 
klienter som du ger support till regelbundet. Du kanske också vill 
tillåta obevakad åtkomst för din hemdator om du skulle behöva komma åt den 
från någon annanstans.<br>
Det finns några sätt att konfigurera maskiner för obevakad åtkomst.</p>
<h3 id="during-an-interactive-session"><a class="header" href="#during-an-interactive-session">Under en interaktiv session</a></h3>
<ol>
<li>Visa RIM-menyn.</li>
<li>Välj "Begär obevakad eller uppmanad åtkomst"</li>
<li>Du kommer att bli tillfrågad om vilken typ av anslutning du vill konfigurera. Dina alternativ är:</li>
<ol>
<li>Obevakad: Tillåter att sessioner initieras utan någon som helst inblandning från slutanvändaren.</li>
<li>Med uppmaning: I den här konfigurationen visas ett meddelande till användaren 
som informerar dem om att du ansluter till deras maskin. De kommer att behöva 
trycka på <em>Option+Shift+Y</em> på Mac OS, eller <em>Windows+Shift+Y</em> på Windows, om de vill acceptera anslutningen.</li>
</ol>
<li>Du kommer att bli ombedd att ge maskinen ett namn. Ange ett personligt namn
 för maskinen, eller om tillämpligt, maskinens ID som det visas i din
 arbetsgrupp.</li>
<li>Tryck på Enter.</li>
<li>På klientdatorn visas en dialogruta där användaren tillfrågas om
 med att datorn konfigureras för den åtkomst du begärde. Om 
svarar ja, kommer du att få en fråga som informerar dig om att 
åtkomsten har godkänts.</li>
</ol>
<h3 id="registering-a-machine-to-your-rim-account"><a class="header" href="#registering-a-machine-to-your-rim-account">Registrera en maskin till ditt RIM-konto</a></h3>
<p>Om du vill registrera en av dina egna maskiner för obevakad åtkomst 
tillgång, kan du göra det utan att behöva starta en interaktiv session 
med maskinen. </p>
<ol>
<li>Starta RIM i hjälpläge för mottagning.</li>
<li>Klicka på knappen "Lägg till den här maskinen till ditt RIM-konto".</li>
<li>Ange din e-postadress och klicka sedan på nästa.</li>
<li>Vänta tills inloggningskoden i två steg kommer, ange den och sedan bör du vara inloggad.</li>
<li>Du kommer att bli tillfrågad om vilken typ av åtkomst du vill konfigurera för den här maskinen. Dina alternativ är:</li>
<ol>
<li>Obevakad: Tillåter att sessioner initieras utan någon som helst inblandning från slutanvändaren.</li>
<li>Uppmanad: Denna konfiguration visar användaren en prompt som informerar dem om att du ansluter till deras maskin.</li>
</ol>
<li>Ge maskinen ett namn och aktivera sedan knappen "Lägg till maskin".</li>
<li>Maskinen kommer att registreras på ditt konto, vilket gör att alla
 maskiner som är inloggade på ditt RIM-konto att ansluta till den här 
maskinen.</li>
</ol>
<h3 id="getting-connected-1"><a class="header" href="#getting-connected-1">Ansluta till maskinen</a></h3>
<p>Nu när vi har registrerat maskinen för obevakad åtkomst kan du se här hur vi startar en session.</p>
<ol>
<li>Starta RIM i controller-läge.</li>
<li>Istället för att ange ett nyckelord, leta reda på och aktivera knappen "Välj en maskin".</li>
<li>När du klickar på den visas en lista med maskiner. Välj den maskin 
du vill ha och tryck sedan på enter. Du kan också använda sökfältet för att begränsa 
listan till en specifik maskin.</li>
</ol>
<p>Om målmaskinen är konfigurerad för åtkomst med uppmaning får slutanvändaren
 få en uppmaning. När de svarar ja kommer du att anslutas. Om sessionen 
sessionen är obevakad kommer du omedelbart att anslutas och 
in i fjärrstyrningszonen.<br>
Observera: Röstkonversationer stöds inte under helt obevakade sessioner, men de stöds för sessioner med uppmaning.</p>
<h3 id="creating-a-shortcut-for-an-unattended-session"><a class="header" href="#creating-a-shortcut-for-an-unattended-session">Skapa en genväg för en obevakad session</a></h3>
<p>För extra bekvämlighet kan du skapa genvägar på skrivbordet som 
automatiskt starta obevakade sessioner. För att göra detta:</p>
<ol>
<li>Öppna listan över obevakade datorer och markera den dator du vill skapa en genväg för.</li>
<li>Klicka på knappen "Skapa genväg".</li>
<li>En genväg läggs automatiskt till på skrivbordet.</li>
</ol>
<p>När du nu aktiverar genvägen kommer du antingen automatiskt att 
landa i fjärrsessionen, eller skicka en uppmaning till användarens maskin som 
de kan acceptera.</p>
<div class="win" style="display: none">
    <h4 id="more-ways-to-use-unattended-session-shortcuts"><a class="header" href="#more-ways-to-use-unattended-session-shortcuts">Fler sätt att använda obevakade sessionsgenvägar</a></h4>
<p>Obevakade sessionsgenvägar, som alla andra genvägar, kan ha 
globala snabbtangenter associerade med dem. Detta kan vara mycket användbart om du
 är en underhållstekniker som hanterar flera datorer i en arbetsgrupp. Till exempel 
om din arbetsgrupp består av 6 datorer som du utför rutinunderhåll på 
rutinunderhåll på, kan du konfigurera Alt+Control+1 till 6 som 
snabbtangenter för respektive maskin. Detta borde avsevärt påskynda 
upp ditt arbetsflöde.<br>
Dessutom kan du starta en obevakad session via körrutan om 
du kopierar genvägen till din användarkatalog. När du har kopierat genvägen 
genvägen kan du starta en obevakad session genom att skriva 
din-sessions-namn.url i körrutan.</p>
</div>
<h3 id="revoking-unattended-access"><a class="header" href="#revoking-unattended-access">Återkalla obevakad åtkomst</a></h3>
<p>Om du inte längre vill att maskinen ska kunna styras utan uppsikt kan du 
kan du återkalla styrenhetens åtkomst. Du behöver inte vara i en session 
för att kunna göra detta.</p>
<ol class="win" style="display: none;">
<li>Öppna ikonen Remote Incident Manager i systemfältet.</li>
<ol>
<li>Om du använder tangentbordet trycker du på Windows+b, sedan mellanslag, sedan vänster eller höger pil tills du hittar ikonen.</li>
</ol>
<li>Högerklicka på ikonen eller tryck på tangenten program eller shift+f10.</li>
<li>Välj alternativet "Återkalla obevakad åtkomst".</li>
<li>Du kommer till en lista med datorer, välj den du vill återkalla.</li>
<li>Du kommer att bli tillfrågad om du vill återkalla maskinen; svara ja.</li>
</ol>
<ol class="mac" style="display: none;">
    <li>Öppna ikonen Remote Incident Manager i menyn extrafunktioner/statusmenyer.</li>
    <ol>
    <li>Om du använder VoiceOver trycker du på VO+M två gånger och letar sedan upp menyikonen Remote Incident Manager.</li>
    </ol>
    <li>Klicka på ikonen eller tryck på VO+Space.</li>
    <li>Välj alternativet "Återkalla obevakad åtkomst".</li>
    <li>Du kommer till en lista med datorer, välj den du vill återkalla.</li>
    <li>Du kommer att få frågan om du vill återkalla maskinen; svara ja.</li>
    </ol>
    <p>Nu är det klart! Den registeransvarige kommer att få ett meddelande om att denna 
maskinen inte längre är tillgänglig för obevakad åtkomst. Om de skulle behöva 
obevakad åtkomst igen kan de återuppta proceduren för att begära 
tillstånd för obevakad åtkomst enligt beskrivningen ovan.</p>
<h2 id="key-command-reference"><a class="header" href="#key-command-reference">Nyckelkommando Referens</a></h1>
<div class="table-wrapper"><table class="win" style="display: none;"><thead><tr><th>Åtgärd</th><th>Kommando</th></tr></thead><tbody>
<tr><td>Minimera session</td><td>Windows+Skift+M</td></tr>
<tr><td>Vänd på sessionen</td><td>Windows+Skift+F</td></tr>
<tr><td>Koppla från session (styrenhet eller mål)</td><td>Fönster+Skift+D</td></tr>
</tbody></table>
<div class="table-wrapper"><table class="mac" style="display: none;"><thead><tr><th>Åtgärd</th><th>Kommando</th></tr></thead><tbody>
    <tr><td>Aktivera RIM-menyn</td><td>Alternativ+Skift+Bakåt</td></tr>
    <tr><td>Minimera session</td><td>Alternativ+Skift+M</td></tr>
    <tr><td>Vänd på sessionen</td><td>Alternativ+Skift+F</td></tr>
    <tr><td>Koppla bort session (styrenhet eller mål)</td><td>Alternativ+Skift+D</td></tr>
    <tr><td>Acceptera begäran om inkommande anslutning</td><td>Alternativ+Skift+Y</td></tr>
    <tr><td>Avvisa begäran om inkommande anslutning</td><td>Alternativ+Skift+N</td></tr>
    </tbody></table>
    
</layout>