---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Connettersi">
    <div id="platformButtons">
       <button id="showWindows">Passare ai comandi da tastiera di Windows</button>
       <button id="showMac">Passare ai comandi da tastiera di Mac OS</button>
        </div>
<p>Il processo di connessione di Remote Incident Manager è stato progettato all'insegna della velocità e della semplicità 
e semplicità, sia per chi riceve assistenza che per chi la fornisce.</p>
<h2 id="connecting-to-a-controller"><a class="header" href="#connecting-to-a-controller">Connessione a un controller</a></h2>
<p>Quando si avvia Remote Incident Manager per la prima volta, ci si trova in modalità target 
in modo predefinito. Ciò significa che ci si connetterà a una persona che ha impostato un'assistenza 
persona che ha impostato una sessione di assistenza remota per voi.<br>
Si aprirà una casella di modifica con l'etichetta "parola chiave" Inserite la parola chiave che vi è stata
 dalla persona che vi assiste e poi premete semplicemente Invio. È tutto 
tutto, siete connessi!</p>
<h2 id="accepting-a-request-to-connect"><a class="header" href="#accepting-a-request-to-connect">Accettare una richiesta di connessione</a></h2>
<p>Se un tecnico fornisce assistenza regolarmente, il computer può essere impostato per ricevere una richiesta di connessione senza che nessuno dei due 
macchina potrebbe essere impostata in modo da ricevere una richiesta di connessione senza che nessuno dei due 
senza che nessuno dei due debba immettere una parola chiave. RIM annuncerà che il tecnico sta 
tecnico sta tentando di connettersi. Per accettare la connessione, premere
<em class="winCmd" style="display: none;">Windows+Maiusc+Y,</em>
<em class="macCmd" style="display: none;">Opzione+Maiusc+Y,</em>
e la sessione inizierà momentaneamente.</p>
<h2 id="connecting-to-a-target"><a class="header" href="#connecting-to-a-target">Connessione a un obiettivo</a></h2>
<p>Il processo di impostazione della sessione è abbastanza simile. Invece di
 inserire la parola chiave, si dovrà passare al pulsante "Fornisci aiuto" 
invece". Quando si esegue questa operazione per la prima volta, verrà chiesto di 
di creare un account.</p>
<ol>
<li>Inserite il vostro indirizzo e-mail.</li>
<li>Controllate il vostro e-mail per ottenere un codice di verifica e inseritelo in RIM.</li>
<li>Verrà quindi richiesto di inserire il nome, la località e il numero di telefono.</li>
<li>Infine, si riceverà un altro codice di verifica sul telefono. Inserite questo codice in RIM.</li>
<ol>
<li>Se non avete un telefono cellulare in grado di ricevere messaggi di testo, <a href="https://pneumasolutions.com/products/rim/account-verification/">compilate questo modulo.</a> Vi aiuteremo a verificare il vostro account.</li>
<li>Una nota per i numeri internazionali: Se il codice di verifica non viene 
se il codice di verifica non arriva, assicuratevi che il codice del Paese prima del numero sia indicato con il 
dal segno più, anziché da 00.</li>
</ol>
</ol>
<p>Una volta effettuato l'accesso, inserite la parola chiave che l'obiettivo utilizzerà per collegarsi a voi
 per collegarsi a voi. Una volta superata la casella di modifica, si troverà una casella di controllo che determina se 
una casella di controllo che determina se avviare o meno una conversazione vocale durante la sessione 
conversazione vocale durante la sessione (questa opzione può essere attivata o disattivata anche durante la sessione) 
sessione). Successivamente, si trova il pulsante "Avvia". Quando
 quando si fa clic su questo pulsante, si rimane nella sala d'attesa fino a quando l'obiettivo si 
si connette. A questo punto, è necessario inviare la parola chiave appena inserita alla persona con cui ci si connetterà 
alla persona con cui vi connetterete, perché è quella che userà per connettersi
 per connettersi. Una volta che la persona si è connessa, riceverete un avviso 
che informa che la sessione remota sta per iniziare. Prendete nota di 
l'indicazione
<em class="winCmd" style="display: none;">Windows+Maiuscolo+Backspace</em>
<em class="macCmd" style="display: none;">Opzione+Maiusc+Backspace</em>
perché questa scorciatoia 
che farà apparire il menu RIM sul vostro computer. Se ci si affida esclusivamente alla tastiera 
esclusivamente dalla tastiera, questo è l'unico modo per indirizzare l'input da tastiera al proprio sistema 
sistema. Dopo aver chiuso questa finestra di dialogo, verrà avviata la sessione remota 
avviata.</p>
</Layout>