---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Installazione">
<p>Le modalità di acquisizione e installazione di Remote Incident Manager dipendono dal caso d'uso e dalla configurazione 
    caso d'uso e dalla configurazione, ma in ogni caso la procedura è abbastanza 
    semplice.</p>
    <div id="platformButtons">
       <button id="showWindows">Istruzioni per l'installazione di Switch to Windows</button>
       <button id="showMac">Istruzioni per l'installazione di Switch to Mac OS</button>
        </div>
            <div class="win" style="display: none;">
<h2 id="typical-installation-for-individuals"><a class="header" href="#typical-installation-for-individuals">Installazione tipica per i privati</a></h2>
<p>Esiste un solo pacchetto di installazione da utilizzare, sia che si offra o si riceva assistenza.</p>
<ol>
<li><a href="https://download.pneumasolutions.com/rim/rimsetup.exe">Scaricare Remote Incident Manager</a></li>
<li>Eseguire il file scaricato.</li>
<li>Se il controllo dell'account utente è abilitato, premere Alt+Y per approvare l'installazione.</li>
<li>Una volta lanciato il file, l'installazione inizierà automaticamente 
inizierà automaticamente. Non è necessario preoccuparsi dei pulsanti successivi. Basta sedersi, 
rilassatevi e lasciate che il programma faccia il suo dovere. In pochi secondi, il programma sarà 
installato e si avvierà automaticamente.</li>
</ol>
<p>È tutto qui! Verrà automaticamente creato un collegamento sul desktop 
un collegamento sul desktop per facilitare i successivi avvii di RIM. Inoltre, RIM imposta un tasto di scelta rapida globale
 un tasto di scelta rapida globale multifunzionale<em>(Windows+Maiusc+Backspace</em>) che, tra le altre cose, avvia automaticamente il programma ovunque ci si trovi.</p>
<h2 id="unattended-access-installer"><a class="header" href="#unattended-access-installer">Programma di installazione ad accesso non presidiato o con prompt</a></h2>
<p>Se la persona che fornisce l'assistenza vi ha fornito un programma di 
    di un programma di installazione personalizzato, l'utente verrà avvisato all'avvio del programma di installazione. Questo perché
     perché questo programma di installazione configurerà automaticamente RIM per quello che è 
    accesso non presidiato o richiesto. In questo modo la persona che vi assiste potrà 
    di avviare una sessione con il computer senza dover immettere una parola chiave
     una parola chiave. Questo tipo di sessioni verrà trattato in modo approfondito più avanti in questo manuale 
    manuale.</p>
    <h2 id="silent-installation"><a class="header" href="#silent-installation">Installazione silenziosa</a></h2>
<p>Questa opzione è utile quando si distribuisce RIM su più computer. È sufficiente utilizzare il parametro della riga di comando <em>/S</em> nello script di distribuzione. Si noti che è sensibile alle maiuscole e minuscole, quindi è necessaria la S maiuscola.</p>
<h2 id="additional-considerations-for-windows-servers"><a class="header" href="#additional-considerations-for-windows-servers">Considerazioni aggiuntive per i server Windows</a></h2>
<p>Per installare RIM su un server Windows, collegarsi al server tramite RDP.
 Per ottenere un'esperienza di connessione più stabile, si consiglia di 
utilizzare l'applicazione Remote Desktop del Microsoft Store.</p>
<h3 id="obtaining-sound-and-running-narrator"><a class="header" href="#obtaining-sound-and-running-narrator">Ottenere il suono ed eseguire il narratore</a></h3>
<p>Per ottenere l'audio, una volta connessi, procedere come segue:</p>
<ol>
<li>Premere il tasto windows+r.</li>
<li>Digitare cmd e premere invio. Attendere circa dieci secondi.</li>
<li>Digitare:<br>
<code class="hljs">net start audiosrv</code><br>
e premere Invio.</li>
<li>A questo punto, premere CTRL+Windows+Invio per abilitare il narratore. Se tutto ha funzionato correttamente, si dovrebbe ottenere il parlato.</li>
</ol>
<p>A questo punto è possibile seguire la procedura di installazione descritta in precedenza.<br>
Se avete bisogno del suono per le successive connessioni via RIM, 
è necessario installare un dispositivo di uscita audio virtuale sul server. 
La versione gratuita di <a href="http://virtualaudiocable.org/download/software/VACSetup.exe">Virtual Audio Cable</a> dovrebbe essere sufficiente.</p>
</div>
<div class="mac" style="display: none;">
    <h2 id="typical-installation-for-individuals"><a class="header" href="#typical-installation-for-individuals">Installazione tipica per i privati</a></h2>
    <p>È possibile utilizzare un solo pacchetto di installazione, sia che si offra o si riceva assistenza.</p>
    <ol>
    <li><a href="https://download.pneumasolutions.com/rim/rim-mac.pkg">Scaricare Remote Incident Manager</a></li>
    <li>Accedere alla cartella dei download tramite Finder<em>(Opzione+comando+L</em>). Individuare il file .pkg scaricato e aprirlo con <em>Command+O</em>.</li>
    <li>Verrà visualizzata una procedura guidata di installazione. Seguire le istruzioni sullo schermo.</li>
    </ol>
    <p>Siete pronti a eseguire Remote Incident Manager per la prima volta! È possibile eseguirlo dalla cartella delle applicazioni, accessibile con <em>Command+Shift+A</em> nel Finder. Inoltre, RIM imposta un tasto di scelta rapida globale multifunzionale<em>(Opzione+Maiusc+Backspace</em>) che, tra le altre cose, avvia automaticamente il programma da qualsiasi luogo ci si trovi.</p>
    <h2 id="permissions"><a class="header" href="#permissions">Permessi</a></h2>
    <p>A causa del comportamento precauzionale di Mac OS quando si ha a che fare con applicazioni di questo tipo
     di questo tipo per la prima volta, è necessario concedere alcune 
    permessi a Remote Incident Manager al primo avvio.</p>
    <h3 id="karabiner-hid-driver"><a class="header" href="#karabiner-hid-driver">Driver HID Karabiner</a></h3>
    <p>È il driver che elabora gli input ricevuti da RIM. Si tratta di un'estensione del
     è un'estensione del kernel, quindi è necessario approvarlo manualmente. Rim 
    visualizzerà una finestra di dialogo di sistema che vi porterà alla sezione Privacy e 
    Privacy e sicurezza delle impostazioni di sistema. Si dovrà quindi scorrere fino a 
    fino a individuare il pulsante Consenti. Facendo clic su questo pulsante verrà richiesta la 
    password o il Touch ID, dopodiché si verrà informati della necessità di 
    riavviare per abilitare completamente Karabiner Elements. Se riavviare 
    ora o in un secondo momento, ma se si decide di non riavviare finché non sono stati approvati tutti i permessi, si può uscire dal sistema
     autorizzazioni, uscire da Impostazioni di sistema e rientrare in RIM 
    di nuovo in RIM.</p>
    <h3 id="receiving-input"><a class="header" href="#receiving-input">Ricezione di input</a></h3>
    <p>RIM ha bisogno dell'autorizzazione a ricevere tutti gli input che gli vengono inviati tramite una connessione remota.<br>
    Fare clic su Continua nella finestra di RIM 
    sistema che richiede le autorizzazioni per il servizio di accessibilità. Se VoiceOver 
    non lo mette subito a fuoco, premete rapidamente due volte <em>VO+F1</em>. Quindi,
     freccia verso il basso fino a Dialoghi di sistema, premere la freccia verso destra e poi verso il basso fino alla richiesta di permessi per la tastiera
     richiesta di autorizzazioni per la tastiera. Premendo il tasto Invio si aprirà la 
    a questo punto si dovrà seguire il percorso fino a Impostazioni di sistema e selezionare la casella 
    e selezionare la casella Gestione incidenti remoti nell'elenco delle applicazioni.</p>
    <h3 id="capturing-screen-output"><a class="header" href="#capturing-screen-output">Catturare l'output dello schermo</a></h3>
    <p>La prossima richiesta di autorizzazione da parte di RIM riguarderà la cattura dell'output dello schermo
     schermo che verrà trasmesso attraverso la connessione remota. La procedura 
    è simile alla procedura precedente.</p>
    <h3 id="notifications"><a class="header" href="#notifications">Notifiche</a></h3>
    <p>L'ultima richiesta di autorizzazione da parte di RIM riguarda le notifiche. RIM 
    notificherà l'inizio e la fine di una sessione. La procedura per 
    concessione di questa autorizzazione è simile alla procedura precedente.</p>
    <h3 id="welcome-screen"><a class="header" href="#welcome-screen">Schermata di benvenuto!</a></h3>
    <p>Dopo l'approvazione di tutte le autorizzazioni, viene visualizzata la schermata di benvenuto
     schermata di benvenuto. Se si decide di riavviare il sistema in un secondo momento, questo è il momento giusto per farlo 
    momento per riavviare.
    A questo punto RIM è pronto per avviare o ricevere connessioni.</p>
    </div>
    <div id="unknown-content" style="display: none">
        <p>Selezionare un sistema operativo utilizzando i pulsanti in alto.</p>
    </div>

</Layout>