---
title: "System Requirements"
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
  <Layout title="Requisiti di sistema">
<p>Per eseguire Remote Incident Manager, il sistema deve soddisfare o superare i seguenti requisiti:</p>
<div id="platformButtons">
<button id="showWindows">Passa ai requisiti di Windows</button>
<button id="showMac">Passa ai requisiti di Mac OS</button>
</div>
<div class="win" style="display: none;">
  <ul>
        <li>Windows 7 SP1 o successivo</li>
        <li>Windows Server 2012 o successivo</li>
        <li>Almeno 4 GB di RAM</li>
        <li>Privilegi di amministratore per l'installazione iniziale (non necessari per gli aggiornamenti automatici)</li>
      </ul>
    </div>
      <div class="mac" style="display: none;">
        <ul>
        <li>Intel o Apple Silicon</li>
        <li>Mac OS Ventura</li>
        <li>Almeno 4 GB di RAM</li>
        <li>Privilegi di amministratore per l'installazione iniziale (non richiesti per gli aggiornamenti automatici)</li>
      </ul>
    </div>
      <div id="unknown-content" style="display: none">
        <p>Selezionare un sistema operativo utilizzando i pulsanti qui sopra.</p>
    </div>
</Layout>