---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Lavorare all'interno di una sessione">
    <div id="platformButtons">
       <button id="showWindows">Istruzioni per il passaggio a Windows</button>
       <button id="showMac">Istruzioni per il passaggio a Mac OS</button>
        </div>
<h2 id="things-to-know-before-you-begin"><a class="header" href="#things-to-know-before-you-begin">Cose da sapere prima di iniziare</a></h2>
<p>Subito dopo aver stabilito la connessione, si verificheranno alcune cose.</p>
<ul>
<li>Viene visualizzata la finestra di controllo remoto della sessione.</li>
<li>L'utente verrà informato sullo stato del lettore di schermo in esecuzione, o sulla sua assenza, sul computer del client.</li>
<li>Se il client ha un lettore di schermo in esecuzione, viene visualizzata una notifica di toast 
che informa l'utente che la sessione remota è iniziata, fornisce una conferma immediata 
conferma immediata che l'audio del sistema dell'utente è funzionante.</li>
<li>Se è la prima volta che un controller si connette a un Mac, viene visualizzato l'assistente di configurazione della tastiera.</li>
    <ul>
    <li>Si tratta della tastiera virtuale Karabiner, che ascolta i comandi di tastiera inviati da un controller.</li>
    <li>Per questo motivo, è necessario accompagnare il computer di destinazione attraverso l'assistente di configurazione, perché
     di configurazione, perché nel processo di identificazione il computer di destinazione ascolterà la pressione della tastiera remota 
    processo di identificazione, non la tastiera del Mac.</li>
    </ul>
    <li>Infine, ma non meno importante, tutti gli input della tastiera e del mouse verranno immediatamente
 mouse verranno immediatamente indirizzati al computer di destinazione. Per riportare il controllo sul proprio computer 
macchina, eseguire una delle seguenti operazioni:</li>
<ul class="winCmd" style="display: none;">
<li>premere Windows+Maiusc+Backspace.</li>
<li>fare clic con il tasto destro del mouse sulla barra del titolo della finestra RIM.</li>
<li>fare clic con il tasto sinistro del mouse sull'icona del RIM.</li>
</ul>
<ul class="macCmd" style="display: none;">
    <li>premere Option+Shift+Backspace.</li>
    <li>Fare clic sull'icona grande del RIM nell'angolo superiore sinistro della finestra di sessione.</li>
    </ul>
    
</ul>
<h2 id="remote-control-zone"><a class="header" href="#remote-control-zone">Zona di controllo remoto</a></h2>
<p>A questo punto si è pronti per eseguire qualsiasi operazione sul lato client
 lato client. Se si desidera tornare a controllare il proprio computer, è sufficiente richiamare il menu RIM
 macchina, richiamare il menu RIM e selezionare l'opzione "Riduci a icona la sessione" 
opzione "Riduci a icona la sessione". Si tornerà al proprio computer fino a quando non si passerà di nuovo alla 
nella finestra di sessione o si preme nuovamente Windows+Maiusc+Backspace. Quando
 quando si torna alla finestra di sessione, l'input della tastiera e del mouse sarà nuovamente 
mouse verranno nuovamente indirizzati al computer client.<br>
Al termine, il controllore o la destinazione possono accedere al menu RIM e scegliere la voce "Disconnetti sessione" 
RIM e scegliere l'opzione "Disconnetti sessione". Quando la sessione 
quando la sessione termina, il computer di destinazione riceve una notifica di
 questo.</p>
<h2 id="the-rim-menu"><a class="header" href="#the-rim-menu">Il menu RIM</a></h2>
<p>Come già accennato, l'accesso al menu RIM consente di tornare al proprio computer
 macchina. In questo menu sono presenti diverse opzioni. Esse comprendono:</p>
<ul>
<li>Aggiorna RIM sul computer di destinazione: Forza l'aggiornamento di RIM sul computer di destinazione</li>
<ul>
<li>Questa opzione mostra se il computer di destinazione esegue una versione precedente di RIM</li>
</ul>
<li>Riduci a icona la sessione: riporta il controllo sul proprio computer come descritto in precedenza</li>
<ul>
<li>È anche possibile utilizzare la scorciatoia
   <em class="winCmd" style="display: none;">Windows+Maiusc+M</em>
   <em class="macCmd" style="display: none;">Opzione+Maiusc+M</em>
         per ridurre a icona la sessione.</li>
</ul>
<li>Trasferisci file a destinazione: Appare se un file è presente negli appunti.</li>
<ul>
<li>Sebbene questo metodo alternativo per completare il trasferimento di un file sia sempre disponibile, è necessario solo per il trasferimento di file a Mac 
è sempre disponibile, è necessario solo per trasferire file a destinazioni Mac 
mac.</li>
</ul>
<li>Sessione di salto: Consente al cliente di controllare in remoto il computer e di ascoltarne l'audio 
e di ascoltare l'audio del computer. In qualità di controllore originale, è possibile capovolgere la sessione selezionando una seconda volta questa opzione 
selezionando questa opzione una seconda volta.</li>
<ul>
<li>È anche possibile utilizzare la scorciatoia da tastiera
   <em class="winCmd" style="display: none;">Windows+Maiusc+F</em>
   <em class="macCmd" style="display: none;">Opzione+Maiusc+F</em>
    per tornare indietro nella sessione.</li>
</ul>
<li>Avvio/arresto della conversazione vocale: Consente di attivare o disattivare la chat vocale per la sessione.</li>
<ul>
<li>Questa opzione non è disponibile per le sessioni non presidiate, in quanto non supportano la chat vocale 
non supportano la chat vocale. Tuttavia, le sessioni richieste supportano 
questa opzione.</li>
</ul>
<li>Avvia accessibilità remota: Questa opzione viene visualizzata quando sul computer remoto non è 
lettore di schermo non è in esecuzione sul computer remoto. In questo modo si abilita il parlato 
vocale, ma il client non dovrà preoccuparsi di sentire il parlato.</li>
<ul>
<li>Se è in esecuzione uno screen reader (compreso Accessibilità remota), questa opzione si trasforma in una chiusura forzata per lo screen reader in esecuzione. È utile quando il lettore di schermo di un target smette di rispondere al punto che non è possibile riavviarlo normalmente.</li>
</ul>
<li>Riavvia e ricollega: Consente di riavviare il computer e di ricollegare automaticamente la sessione.</li>
<ul>
    <li>Si noti che una destinazione Mac non può avviare RIM prima dell'accesso a causa di limitazioni della piattaforma, in particolare FileVault.</li>
    <li>Pertanto, RIM si riconnetterà una volta che l'utente avrà effettuato l'accesso.</li>
    </ul>
        <li>Invia Control+Alt+Canc: Invia questa sequenza di tasti al computer remoto.</li>
        <ul>
            <li>L'equivalente di questa opzione non è ancora stato implementato per gli obiettivi Mac.</li>
            </ul>
<li>Richiedi accesso non presidiato o richiesto: Permette di inviare una richiesta di accesso 
di accesso non presidiato al computer client. Questa opzione è utile se si è un
 sysadmin e si deve eseguire la manutenzione di routine, o anche per qualcosa di
 semplice come controllare il computer di casa mentre si è in viaggio.</li>
<li>Blocca il computer di destinazione: Esegue l'equivalente di Windows+L.</li>
<li>Visualizza i dettagli della connessione: Fornisce informazioni dettagliate sulla connessione e sul computer di destinazione. Le informazioni includono:</li>
<ul>
<li>Statistiche di connessione</li>
<li>Informazioni sul computer, compresa la versione del sistema operativo, la memoria disponibile, ecc.</li>
<li>Processi in esecuzione (obiettivi Windows)</li>
<li>Pacchetti installati (obiettivi Windows)</li>
</ul>
<li>Disconnetti sessione: Termina la sessione.</li>
<ul>
<li>Ricordare che questa opzione è disponibile per entrambe le parti della sessione.</li>
<li>È possibile anche tramite il comando da tastiera
   <em class="winCmd" style="display: none;">Windows+Maiusc+D.</em>
   <em class="macCmd" style="display: none;">Opzione+Maiusc+D.</em>
</li>
</ul>
</ul>
<h2 id="file-transfers"><a class="header" href="#file-transfers">Trasferimento di file</a></h2>
<p>RIM offre un modo semplice per trasferire i file, indipendentemente dalla piattaforma utilizzata.</p>
<ol>
<li>Richiamare il menu di RIM e fare clic su "Riduci a icona la sessione" Il controllo verrà riportato al computer.</li>
<li>Selezionare i file e/o le cartelle che si desidera trasferire utilizzando il proprio file manager.</li>
<li>Copiare il contenuto selezionato negli appunti nel modo consueto. Si riceverà una notifica 
riceverete una notifica che indica che un file è pronto per essere trasferito. Si hanno a disposizione due opzioni 
due opzioni.</li>
<ol>
<li>Se la destinazione è un Mac:</li>
<ol>
<li>Attivare il menu della sessione RIM e fare clic sull'opzione "Trasferisci file a destinazione".</li>
<li>Al completamento del trasferimento, il Mac di destinazione genererà una 
directory temporanea contenente i contenuti trasferiti. Questi devono essere 
essere copiati e incollati nelle directory di destinazione.</li>
</ol>
<li>Se la destinazione è un computer Windows:</li>
<ol>
<li>Passare nuovamente alla sessione remota e individuare la cartella sul computer di destinazione in cui si desidera incollare il contenuto.</li>
<li>Infine, incollate come fareste normalmente.</li>
</ol>
</ol>
</ol>
<!-- end -->
<p>Si noti che il tempo di trasferimento dipenderà interamente dalle dimensioni del contenuto inviato e dalla velocità della rete.</p>
<h2 id="remote-accessibility-module"><a class="header" href="#remote-accessibility-module">Modulo di accessibilità remota</a></h2>
<p>Sia che stiate assistendo un utente che non usa uno screen reader, sia che stiate diagnosticando un problema di accessibilità remota 
se state assistendo un utente che non usa un lettore di schermo o se state diagnosticando un problema con un lettore di schermo malfunzionante, RIM è pronta ad aiutarvi 
rIM è pronta a venire in vostro aiuto.</p>
<div class="win" style="display: none;">
    <p>Il modulo di accessibilità remota è costituito da due componenti:</p>
<ul>
<li>Un addon per il <a href="https://nvaccess.org/">lettore di schermo NVDA</a> che consente al lettore di schermo di ricevere l'output dal computer remoto</li>
<li>Un modulo di accessibilità autonomo avviato sul computer di destinazione su richiesta del controllore 
computer di destinazione su richiesta del controllore. Il vantaggio di questo 
vantaggio di questo approccio è che l'utente finale non sente il parlato sul computer 
mentre lo controlla. Invece, il modulo di accessibilità remota 
il modulo di accessibilità remota trasmette l'output vocale alla copia in esecuzione di NVDA sul controllore 
controllore. In questo modo, è possibile assistere l'utente finale senza che questi debba
 senza che questi debba installare o scaricare uno screen reader.</li>
</ul>
</div>
<div class="mac" style="display: none">
    <p>Il modulo di accessibilità remota è una
    configurazione speciale avviata sul Mac di destinazione su richiesta di un controller Windows o Mac
    Controllore Windows o Mac. Il vantaggio di questo approccio è che l'utente 
   utente finale non sente la voce del computer mentre lo si controlla
    mentre lo si controlla. Invece, il modulo di accessibilità remota trasmette l'output vocale al sistema vocale del controllore 
   al sistema vocale sul lato del controller. In questo modo è possibile 
   in questo modo è possibile assistere l'utente finale senza che debba attivare uno screen reader 
   lettore di schermo.
   Se sul Mac di controllo è in esecuzione VoiceOver, il modulo di accessibilità remota si avvia automaticamente durante le sessioni remote 
   modulo di accessibilità remota si avvierà automaticamente durante le sessioni remote in cui il 
   in cui il computer remoto non ha un lettore di schermo in esecuzione.
</div>
<div class="win" style="display: none">
    <h3 id="setup-procedure"><a class="header" href="#setup-procedure">Procedura di configurazione</a></h3>
<p>Per la prima inizializzazione del modulo di accessibilità, ecco cosa occorre fare:</p>
<ol>
<li>Collegarsi a un computer in cui non è in esecuzione un lettore di schermo.</li>
<li>Se NVDA è in esecuzione, vi verrà chiesto di installare un componente aggiuntivo che permetterà alla vostra copia di NVDA 
che consentirà alla copia di NVDA di comunicare con il computer remoto durante la sessione 
computer remoto durante la sessione. Accettare le richieste di installazione e attendere il riavvio di NVDA 
che NVDA venga riavviato.</li>
<li>A questo punto, il modulo di accessibilità remota sarà completamente inizializzato, 
e si sentirà il parlato mentre si controlla il computer remoto.</li>
</ol>
<p>Da questo momento in poi, se sul computer di controllo è in esecuzione un lettore di schermo, il modulo di accessibilità remota 
computer che lo controlla, il modulo di accessibilità remota si avvierà automaticamente 
automaticamente durante le sessioni remote in cui il computer remoto non ha uno screen reader in esecuzione
 lettore di schermo. Se si utilizza un lettore di schermo diverso da
 NVDA, RIM disattiverà il lettore di schermo e passerà a NVDA
 NVDA.
Se è necessario interrompere il modulo di accessibilità remota sul computer remoto per avviare un altro lettore di schermo 
per avviare un altro screen reader, è sufficiente accedere all'opzione "Interrompi accessibilità remota" dal menu RIM.</p>
</div>
<h2 id="rebooting-and-reconnecting"><a class="header" href="#rebooting-and-reconnecting">Riavvio e riconnessione</a></h2>
<p>Sia che stiate installando aggiornamenti del sistema, sia che stiate uscendo da un blocco del sistema, RIM vi offre la possibilità di riavviare e riconnettervi
 sistema, RIM ha pensato a voi durante il processo di riavvio. 
Selezionando l'opzione "Riavvia e ricollega" dal menu RIM è possibile 
di eseguire un riavvio di grazia o un riavvio di emergenza, 
a seconda dello stato in cui si trova il computer. Mentre il computer si sta riavviando 
mentre il computer si riavvia, RIM informa che sono in corso tentativi di riconnessione 
di riconnessione.<br>
Se il computer viene riavviato da un'installazione software o manualmente nel modo consueto, vi verrà chiesto se desiderate riavviare il computer 
riavviato manualmente nel modo consueto, verrà chiesto se si desidera riconnettere la sessione 
ricollegare la sessione. Inoltre, in entrambi i casi, gli obiettivi Mac 
si riconnetterà solo dopo che l'utente avrà effettuato l'accesso. Ciò è dovuto al fatto che 
rIM non può avviarsi automaticamente alla schermata di accesso a causa di limitazioni della piattaforma 
limitazioni della piattaforma, in particolare la crittografia del disco FileVault.</p>
<h2 id="unattended-or-prompted-access"><a class="header" href="#unattended-or-prompted-access">Accesso non presidiato o con richiesta</a></h2>
<p>RIM consente all'utente, in qualità di controllore, di configurare le macchine per l'accesso 
accesso non presidiato o richiesto. In questo modo è possibile fornire assistenza 
assistenza remota senza che l'utente debba lanciare RIM, immettere una parola chiave o essere vicino al computer 
senza che l'utente debba lanciare RIM, inserire una parola chiave o essere vicino al computer. Questo è utile se si è un sysadmin 
che esegue la manutenzione di routine sui computer del gruppo di lavoro, o per i clienti a cui si fornisce assistenza regolarmente 
clienti a cui si fornisce regolarmente assistenza. Si può anche desiderare di 
accesso non presidiato per il computer di casa, nel caso in cui sia necessario accedervi da un altro luogo 
da un altro luogo.<br>
Esistono alcuni modi per configurare i computer per l'accesso non presidiato.</p>
<h3 id="during-an-interactive-session"><a class="header" href="#during-an-interactive-session">Durante una sessione interattiva</a></h3>
<ol>
<li>Richiamare il menu RIM.</li>
<li>Selezionare "Richiedi accesso non presidiato o su richiesta"</li>
<li>Verrà chiesto quale tipo di connessione si desidera configurare. Le opzioni sono:</li>
<ol>
<li>Non presidiata: Consente di avviare le sessioni senza alcun intervento da parte dell'utente finale.</li>
<li>Con richiesta: Questa configurazione presenta all'utente un messaggio 
che lo informa che ci si sta connettendo al suo computer. L'utente dovrà 
premere <em>Opzione+Maiuscolo+Y</em> su Mac OS, o <em>Windows+Maiuscolo+Y</em> su Windows, se desidera accettare la connessione.</li>
</ol>
<li>Verrà chiesto di assegnare un nome alla macchina. Inserire un nome personale
 o, se applicabile, l'ID della macchina come appare nel gruppo di lavoro
 gruppo di lavoro.</li>
<li>Premere Invio.</li>
<li>Sul computer client viene visualizzata una finestra di dialogo che chiede all'utente se è d'accordo con l'impostazione del computer per l'accesso richiesto
 se l'utente è d'accordo che il suo computer sia impostato per l'accesso richiesto. Se la risposta è affermativa 
se la risposta è affermativa, viene visualizzato un messaggio che informa che l'accesso è stato approvato 
accesso è stato approvato.</li>
</ol>
<h3 id="registering-a-machine-to-your-rim-account"><a class="header" href="#registering-a-machine-to-your-rim-account">Registrazione di un computer nell'account RIM</a></h3>
<p>Se si desidera registrare uno dei propri computer per l'accesso non presidiato, è possibile farlo senza dover 
accesso non presidiato, è possibile farlo senza dover avviare una sessione interattiva con il computer 
con la macchina. </p>
<ol>
<li>Avviare RIM in modalità di ricezione della guida.</li>
<li>Fare clic sul pulsante "Aggiungi questo computer al tuo account RIM".</li>
<li>Immettere il proprio indirizzo e-mail, quindi fare clic su Avanti.</li>
<li>Attendere l'arrivo del codice di accesso in due fasi, inserirlo e accedere.</li>
<li>Verrà chiesto quale tipo di accesso si desidera configurare per questo computer. Le opzioni sono:</li>
<ol>
<li>Non presidiato: Consente di avviare le sessioni senza alcun intervento da parte dell'utente finale.</li>
<li>Con richiesta: Questa configurazione presenta all'utente un messaggio che lo informa che si sta collegando al suo computer.</li>
</ol>
<li>Assegnare un nome alla macchina, quindi attivare il pulsante "Aggiungi macchina".</li>
<li>La macchina verrà registrata nell'account dell'utente, il che consentirà a tutte le macchine controllore
 macchine controller collegate all'account RIM di connettersi a questa macchina 
macchina.</li>
</ol>
<h3 id="getting-connected-1"><a class="header" href="#getting-connected-1">Connettersi</a></h3>
<p>Dopo aver registrato la macchina per l'accesso non presidiato, ecco come avviare una sessione.</p>
<ol>
<li>Avviare RIM in modalità controller.</li>
<li>Invece di inserire una parola chiave, individuare e attivare il pulsante "Scegli una macchina".</li>
<li>Facendo clic su questo pulsante, apparirà un elenco di macchine. Scegliere quella 
scelta, quindi premere Invio. È anche possibile utilizzare la barra di ricerca per restringere la 
per restringere l'elenco a una macchina specifica.</li>
</ol>
<p>Se il computer di destinazione è configurato per l'accesso richiesto, l'utente finale
 riceverà una richiesta. Una volta risposto affermativamente, la connessione sarà effettuata. Se la sessione 
sessione non è presidiata, l'utente verrà immediatamente connesso e 
nella zona di controllo remoto.<br>
Nota bene: le conversazioni vocali non sono supportate durante le sessioni non presidiate, ma sono supportate per le sessioni richieste.</p>
<h3 id="creating-a-shortcut-for-an-unattended-session"><a class="header" href="#creating-a-shortcut-for-an-unattended-session">Creazione di un collegamento per una sessione non presidiata</a></h3>
<p>Per una maggiore comodità, è possibile creare dei collegamenti sul desktop che consentono di 
di avviare automaticamente le sessioni non presidiate. A tale scopo:</p>
<ol>
<li>Accedere all'elenco dei computer non presidiati e selezionare quello per cui si desidera creare un collegamento.</li>
<li>Fare clic sul pulsante "Crea collegamento".</li>
<li>Il collegamento verrà aggiunto automaticamente al desktop.</li>
</ol>
<p>A questo punto, quando si attiva il collegamento, si 
automaticamente alla sessione remota o inviando un messaggio al computer dell'utente che può accettare 
che l'utente può accettare.</p>
<div class="win" style="display: none">
    <h4 id="more-ways-to-use-unattended-session-shortcuts"><a class="header" href="#more-ways-to-use-unattended-session-shortcuts">Altri modi per usare le scorciatoie di sessione non presidiate</a></h4>
<p>Le scorciatoie di sessione non presidiate, come qualsiasi altra scorciatoia, possono avere dei 
tasti di scelta rapida globali ad esse associati. Questo può essere estremamente utile se
 tecnici di manutenzione che gestiscono più computer in un gruppo di lavoro. Ad esempio, se il gruppo di lavoro è composto da 
ad esempio, se il gruppo di lavoro è composto da 6 computer sui quali si esegue la 
manutenzione di routine, è possibile configurare Alt+Control+1 fino a 6 come 
come tasti di scelta rapida per ciascun computer. Questo dovrebbe accelerare notevolmente il flusso di lavoro 
velocizzare il flusso di lavoro.<br>
Inoltre, è possibile richiamare una sessione non presidiata tramite la casella di esecuzione se si copia la scorciatoia nella directory utente 
copiare il collegamento nella directory utente. Una volta copiato il collegamento 
una sessione non presidiata, è possibile avviare una sessione non presidiata digitando 
nome-sessione.url nella casella di esecuzione.</p>
</div>
<h3 id="revoking-unattended-access"><a class="header" href="#revoking-unattended-access">Revoca dell'accesso non presidiato</a></h3>
<p>Se non si desidera più che la macchina sia controllata senza sorveglianza, è possibile revocare l'accesso al controllore 
revocare l'accesso al controllore. Non è necessario essere in sessione 
per effettuare questa operazione.</p>
<ol class="win" style="display: none;">
<li>Accedere all'icona Remote Incident Manager nella barra delle applicazioni.</li>
<ol>
<li>Se si usa la tastiera, premere windows+b, poi spazio, poi freccia sinistra o destra fino a trovare l'icona.</li>
</ol>
<li>Fare clic con il tasto destro del mouse sull'icona, oppure premere il tasto applicazioni o shift+f10.</li>
<li>Selezionare l'opzione "Revoca accesso non presidiato".</li>
<li>Verrà visualizzato un elenco di computer; selezionare quello che si desidera revocare.</li>
<li>Verrà chiesto se si desidera revocare l'accesso al computer; rispondere affermativamente.</li>
</ol>
<ol class="mac" style="display: none;">
    <li>Accedere all'icona Gestione incidenti remoti nei menu extra/stato.</li>
    <ol>
    <li>Se si utilizza VoiceOver, premere due volte VO+M, quindi individuare l'icona del menu Remote Incident Manager.</li>
    </ol>
    <li>Fare clic su questa icona o premere VO+Spazio.</li>
    <li>Selezionare l'opzione "Revoca accesso non presidiato".</li>
    <li>Verrà visualizzato un elenco di computer; selezionare quello che si desidera revocare.</li>
    <li>Verrà chiesto se si desidera revocare il computer; rispondere affermativamente.</li>
    </ol>
    <p>È tutto! Il controllore riceverà un messaggio che indica che questo 
macchina non è più disponibile per l'accesso non presidiato. Se dovesse avere nuovamente bisogno di 
accesso non presidiato, è possibile avviare nuovamente la procedura di richiesta di 
di accesso non presidiato, come descritto in precedenza.</p>
<h2 id="key-command-reference"><a class="header" href="#key-command-reference">Riferimento al comando chiave</a></h1>
<div class="table-wrapper"><table class="win" style="display: none;"><thead><tr><th>Azione</th><th>Comando</th></tr></thead><tbody>
<tr><td>Riduci a icona la sessione</td><td>Windows+Maiusc+M</td></tr>
<tr><td>Capovolgi sessione</td><td>Windows+Maiuscolo+F</td></tr>
<tr><td>Disconnettere la sessione (controller o target)</td><td>Windows+Maiuscolo+D</td></tr>
</tbody></table>
<div class="table-wrapper"><table class="mac" style="display: none;"><thead><tr><th>Azione</th><th>Comando</th></tr></thead><tbody>
    <tr><td>Attiva il menu RIM</td><td>Opzione+Maiuscolo+Backspace</td></tr>
    <tr><td>Riduci a icona la sessione</td><td>Opzione+Maiusc+M</td></tr>
    <tr><td>Capovolgi sessione</td><td>Opzione+Maiusc+F</td></tr>
    <tr><td>Disconnettere la sessione (controller o target)</td><td>Opzione+Maiusc+D</td></tr>
    <tr><td>Accettare la richiesta di connessione in arrivo</td><td>Opzione+Maiusc+Y</td></tr>
    <tr><td>Rifiuta la richiesta di connessione in arrivo</td><td>Opzione+Maiusc+N</td></tr>
    </tbody></table>
    
</layout>