---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Verbunden werden">
    <div id="platformButtons">
       <button id="showWindows">Umschalten auf Windows-Tastaturbefehle</button>
       <button id="showMac">Umschalten auf Mac OS-Tastaturbefehle</button>
        </div>
<p>Der Verbindungsprozess von Remote Incident Manager ist auf Geschwindigkeit 
und Einfachheit ausgelegt, sowohl für die Person, die Hilfe erhält, als auch für die Person, die sie anbietet.</p>
<h2 id="connecting-to-a-controller"><a class="header" href="#connecting-to-a-controller">Verbinden mit einem Controller</a></h2>
<p>Wenn Sie Remote Incident Manager zum ersten Mal starten, befinden Sie sich standardmäßig im Ziel 
modus. Das bedeutet, dass Sie eine Verbindung zu einer Person herstellen werden 
person, die eine Fernwartungssitzung für Sie eingerichtet hat.<br>
Sie landen in einem Bearbeitungsfeld mit der Bezeichnung "Schlüsselwort" Geben Sie das Schlüsselwort ein, das
 das Ihnen von der Person, die Sie unterstützt, mitgeteilt wurde, und drücken Sie dann einfach die Eingabetaste. Das war's 
das war's, Sie sind verbunden!</p>
<h2 id="accepting-a-request-to-connect"><a class="header" href="#accepting-a-request-to-connect">Akzeptieren einer Verbindungsanfrage</a></h2>
<p>Wenn Sie regelmäßig von einem Techniker unterstützt werden, kann Ihr Rechner 
möglicherweise so eingestellt, dass er eine Verbindungsanfrage annimmt, ohne dass einer von Ihnen 
ein Schlüsselwort eingeben müssen. RIM meldet dann, dass Ihr Techniker 
versucht, eine Verbindung herzustellen. Um die Verbindung zu akzeptieren, drücken Sie
<em class="winCmd" style="display: none;">Windows+Umschalt+Y,</em>
<em class="macCmd" style="display: none;">Wahl+Umschalt+Y,</em>
und die Sitzung wird kurzzeitig gestartet.</p>
<h2 id="connecting-to-a-target"><a class="header" href="#connecting-to-a-target">Verbinden mit einem Ziel</a></h2>
<p>Das Verfahren zum Aufbau der Sitzung ist ziemlich ähnlich. Anstatt das
 das Schlüsselwort einzugeben, navigieren Sie zur Schaltfläche "Hilfe bereitstellen 
stattdessen". Wenn Sie dies zum ersten Mal tun, werden Sie aufgefordert 
ein Konto einzurichten.</p>
<ol>
<li>Geben Sie Ihre E-Mail-Adresse ein.</li>
<li>Überprüfen Sie Ihre E-Mail auf einen Verifizierungscode, und geben Sie diesen in RIM ein.</li>
<li>Sie werden dann aufgefordert, Ihren Namen, Ihren Standort und Ihre Telefonnummer einzugeben.</li>
<li>Schließlich erhalten Sie einen weiteren Bestätigungscode auf Ihr Telefon. Geben Sie diesen Code bei RIM ein.</li>
<ol>
<li>Wenn Sie kein Mobiltelefon haben, das Textnachrichten empfangen kann, füllen Sie bitte <a href="https://pneumasolutions.com/products/rim/account-verification/">dieses Formular aus.</a> Wir werden Ihnen bei der Verifizierung Ihres Kontos helfen.</li>
<li>Ein Hinweis für internationale Nummern: Wenn Ihr Verifizierungscode nicht 
vergewissern Sie sich, dass die Landesvorwahl vor Ihrer Nummer mit einem 
mit einem Pluszeichen und nicht mit 00.</li>
</ol>
</ol>
<p>Wenn Sie nun angemeldet sind, geben Sie das Schlüsselwort ein, das die Zielperson verwenden wird
 um eine Verbindung zu Ihnen herzustellen. Wenn Sie über das Bearbeitungsfeld hinaus navigieren, finden Sie 
ein Kontrollkästchen, das festlegt, ob während der Sitzung ein 
gespräch während der Sitzung beginnen soll (dies kann auch während der Sitzung ein- oder ausgeschaltet werden) 
der Sitzung ein- oder ausschalten). Danach finden Sie die Schaltfläche "Start". Wenn
 sie darauf klicken, befinden Sie sich im Warteraum, bis Ihr Ziel 
eine Verbindung herstellt. An diesem Punkt sollten Sie das Schlüsselwort, das Sie gerade eingegeben haben 
das Sie gerade eingegeben haben, an die Person senden, mit der Sie sich verbinden werden
 verbindung herzustellen. Sobald die Verbindung hergestellt ist, erhalten Sie eine Meldung 
die Sie darüber informiert, dass die Fernsitzung in Kürze beginnen wird. Beachten Sie 
die erwähnte
<em class="winCmd" style="display: none;">Windows+Umschalt+Rücktaste</em>
<em class="macCmd" style="display: none;">Wahltaste+Umschalttaste+Rücktaste</em>
tastenkombination, mit der Sie 
das RIM-Menü auf Ihrem Rechner aufruft. Wenn Sie sich ausschließlich auf die Tastatur verlassen 
ausschließlich auf die Tastatur verlassen, ist dies die einzige Möglichkeit, Tastatureingaben auf Ihr 
eigenen System zu leiten. Nachdem Sie diesen Dialog beendet haben, wird die Fernsitzung 
eingeleitet.</p>
</Layout>