---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Getting Connected">
    <div id="platformButtons">
        <button id="showWindows">Switch to Windows keyboard commands</button>
        <button id="showMac">Switch to Mac OS Keyboard Commands</button>
        </div>
<p>Remote Incident Manager's connection process is designed with speed 
and simplicity in mind, both for the person receiving assistance as well as for the person providing it.</p>
<h2 id="connecting-to-a-controller"><a class="header" href="#connecting-to-a-controller">Connecting to a Controller</a></h2>
<p>When you first launch Remote Incident Manager, you will be in target 
mode by default. This means that you are going to be connecting to a 
person who has set up a remote support session for you.<br>
You will land in an edit box labeled "keyword." Enter the keyword issued
 to you by the person assisting you, and then simply hit enter. That's 
it, you're connected!</p>
<h2 id="accepting-a-request-to-connect"><a class="header" href="#accepting-a-request-to-connect">Accepting a Request to Connect</a></h2>
<p>If a technician provides support to you on the regular, your machine 
may be set up to receive a request to connect without either of you 
having to enter a keyword. RIM will announce that your technician is 
attempting to connect. In order to accept the connection, press
<em class="winCmd" style="display: none;">Windows+Shift+Y,</em>
<em class="macCmd" style="display: none;">Option+Shift+Y,</em>
and the session will begin momentarily.</p>
<h2 id="connecting-to-a-target"><a class="header" href="#connecting-to-a-target">Connecting to a Target</a></h2>
<p>The process for setting up the session is fairly similar. Rather than
 entering the keyword, you will want to navigate to the "Provide help 
instead" button. When doing this for the first time, you will be asked 
to set up an account.</p>
<ol>
<li>Enter your email address.</li>
<li>Check your email for a verification code, and then enter it into RIM.</li>
<li>You will then be asked to enter your name, location and phone number.</li>
<li>Lastly, you will receive another verification code on your phone. Enter this code into RIM.
<ol>
<li>If you do not have a mobile phone capable of receiving text messages, please <a href="https://pneumasolutions.com/products/rim/account-verification/">fill out this form.</a> We will assist you in getting your account verified.</li>
<li>A note for international numbers: If your verification code doesn't 
come through, make sure the country code before your number is denoted 
by the plus sign, rather than 00.</li>
</ol>
</ol>
<p>Now that you're logged in, enter the keyword that the target will use
 to connect to you. When you navigate past the edit box, you will come 
across a checkbox that determines whether or not to start a voice 
conversation during the session (this can be toggled on or off during 
the session as well). After that, you will find the "Start" button. When
 you click this, you will be in the waiting room until your target 
connects. At this point, you will want to send the keyword you just 
entered to the person you'll be connecting to, as this is what they will
 use to connect. Once they have connected, you will receive an alert 
informing you that the remote session is about to begin. Take note of 
the mentioned
<em class="winCmd" style="display: none;">Windows+Shift+Backspace</em>
<em class="macCmd" style="display: none;">Option+Shift+Backspace</em>
shortcut as that will 
bring up the RIM menu on your machine. If you rely on the keyboard 
exclusively, this is the only way to direct keyboard input back to your 
own system. After you dismiss this dialogue, the remote session will be 
initiated.</p>
</Layout>