---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Einrichtung">
<p>Wie Sie Remote Incident Manager erwerben und installieren, hängt von Ihrem 
    anwendungsfall und der Konfiguration ab, aber in jedem Fall ist der Prozess recht 
    geradlinig.</p>
    <div id="platformButtons">
       <button id="showWindows">Wechsel zu Windows Installationsanweisungen</button>
       <button id="showMac">Umschalten auf Mac OS Installationsanweisungen</button>
        </div>
            <div class="win" style="display: none;">
<h2 id="typical-installation-for-individuals"><a class="header" href="#typical-installation-for-individuals">Typische Installation für Einzelpersonen</a></h2>
<p>Es gibt nur ein Installationspaket, das Sie verwenden müssen, unabhängig davon, ob Sie Hilfe anbieten oder empfangen.</p>
<ol>
<li><a href="https://download.pneumasolutions.com/rim/rimsetup.exe">Remote Incident Manager herunterladen</a></li>
<li>Führen Sie die heruntergeladene Datei aus.</li>
<li>Wenn Sie die Benutzerkontensteuerung aktiviert haben, drücken Sie Alt+Y, um die Installation zu genehmigen.</li>
<li>Sobald die Datei gestartet ist, wird die Installation automatisch 
beginnen. Es gibt keine weiteren Schaltflächen, um die Sie sich kümmern müssen. Lehnen Sie sich einfach zurück, 
entspannen Sie sich und lassen Sie das Programm seine Arbeit machen. Innerhalb von Sekunden wird das Programm 
installiert und startet automatisch.</li>
</ol>
<p>Das war's auch schon! Es wird automatisch eine Desktop-Verknüpfung 
eine Desktop-Verknüpfung erstellt, die bei späteren Starts von RIM hilfreich ist. Außerdem richtet RIM einen
 mehrzweck-Tastenkombination<em>(Windows+Umschalt+Rücktaste</em>) ein, die unter anderem das Programm automatisch startet, egal wo Sie sich befinden.</p>
<h2 id="unattended-access-installer"><a class="header" href="#unattended-access-installer">Unbeaufsichtigter oder aufgeforderter Zugriff Installer</a></h2>
<p>Wenn die Hilfsperson Ihnen ein benutzerdefiniertes Installationsprogramm zur Verfügung gestellt hat 
    installationsprogramm zur Verfügung gestellt hat, werden Sie beim Start des Installationsprogramms darauf hingewiesen. Dies
     denn dieses Installationsprogramm konfiguriert RIM automatisch für den so genannten 
    entweder für den unbeaufsichtigten oder den angeforderten Zugriff. Dadurch kann die Person, die Ihnen hilft 
    eine Sitzung mit Ihrem Computer einzuleiten, ohne dass Sie ein Schlüsselwort eingeben müssen
     ein Schlüsselwort eingeben müssen. Wir werden diese Arten von Sitzungen später in diesem Handbuch ausführlich behandeln 
    handbuch.</p>
    <h2 id="silent-installation"><a class="header" href="#silent-installation">Stille Installation</a></h2>
<p>Sie sollten dies tun, wenn Sie RIM auf mehreren Rechnern einsetzen. Verwenden Sie einfach den Befehlszeilenparameter <em>/S</em> in Ihrem Verteilungsskript. Beachten Sie die Groß- und Kleinschreibung, daher ist ein großes S erforderlich.</p>
<h2 id="additional-considerations-for-windows-servers"><a class="header" href="#additional-considerations-for-windows-servers">Zusätzliche Überlegungen für Windows Server</a></h2>
<p>Um RIM auf Ihrem Windows Server zu installieren, verbinden Sie sich über RDP mit dem Server.
 Um eine möglichst stabile Verbindung zu erhalten, empfehlen wir 
die Verwendung der Remotedesktop-Anwendung aus dem Microsoft Store.</p>
<h3 id="obtaining-sound-and-running-narrator"><a class="header" href="#obtaining-sound-and-running-narrator">Beschaffung von Ton und Ausführen von Narrator</a></h3>
<p>Um Sound zu erhalten, gehen Sie nach der Verbindung wie folgt vor:</p>
<ol>
<li>Drücken Sie die Windows-Taste+r.</li>
<li>Geben Sie cmd ein und drücken Sie die Eingabetaste. Warten Sie etwa zehn Sekunden.</li>
<li>Geben Sie ein:<br>
<code class="hljs">net start audiosrv</code><br>
und drücken Sie die Eingabetaste.</li>
<li>Drücken Sie nun STRG+Windows+Enter, um Narrator zu aktivieren. Wenn alles richtig funktioniert hat, sollten Sie Sprache erhalten.</li>
</ol>
<p>Sie können nun die Installation wie oben beschrieben durchführen.<br>
Bitte beachten Sie, dass Sie, wenn Sie für spätere Verbindungen über RIM, 
müssen Sie ein virtuelles Tonausgabegerät auf Ihrem Server installieren. 
Die kostenlose Version von <a href="http://virtualaudiocable.org/download/software/VACSetup.exe">Virtual Audio Cable</a> sollte ausreichen.</p>
</div>
<div class="mac" style="display: none;">
    <h2 id="typical-installation-for-individuals"><a class="header" href="#typical-installation-for-individuals">Typische Installation für Einzelpersonen</a></h2>
    <p>Es gibt nur ein Installationspaket, das Sie verwenden müssen, unabhängig davon, ob Sie Hilfe anbieten oder empfangen.</p>
    <ol>
    <li><a href="https://download.pneumasolutions.com/rim/rim-mac.pkg">Remote Incident Manager herunterladen</a></li>
    <li>Gehen Sie über den Finder<em>(Option+Befehl+L</em>) zu Ihrem Download-Ordner. Suchen Sie die heruntergeladene .pkg-Datei und öffnen Sie sie mit <em>Befehl+O</em>.</li>
    <li>Ein Installationsassistent wird angezeigt. Befolgen Sie die Anweisungen auf dem Bildschirm.</li>
    </ol>
    <p>Sie sind nun bereit, Remote Incident Manager zum ersten Mal auszuführen! Sie können ihn von Ihrem Anwendungsordner aus starten, auf den Sie mit <em>Befehl+Umschalt+A</em> zugreifen können, während Sie sich im Finder befinden. Zusätzlich richtet RIM einen globalen Mehrzweck-Hotkey ein<em>(Option+Umschalt+Rückwärts</em>), der unter anderem das Programm automatisch startet, egal wo Sie sich befinden.</p>
    <h2 id="permissions"><a class="header" href="#permissions">Berechtigungen</a></h2>
    <p>Aufgrund des vorsichtigen Verhaltens von Mac OS beim ersten Umgang mit Programmen
     dieser Art zum ersten Mal zu tun haben, müssen Sie dem Remote Incident Manager einige 
    remote Incident Manager beim ersten Start einige Berechtigungen erteilen.</p>
    <h3 id="karabiner-hid-driver"><a class="header" href="#karabiner-hid-driver">Karabiner HID-Treiber</a></h3>
    <p>Dies ist der Treiber, der die von RIM empfangenen Eingaben verarbeitet. Dieser
     ist eine Kernel-Erweiterung, daher müssen Sie ihn manuell genehmigen. Rim wird 
    einen Systemdialog auf, der Sie zum Abschnitt Datenschutz und 
    Sicherheit der Systemeinstellungen führt. Scrollen Sie dann so lange, bis Sie 
    bis Sie die Schaltfläche Zulassen finden. Wenn Sie auf diese Schaltfläche klicken, werden Sie zur Eingabe Ihres 
    kennwort oder die Touch-ID ab, woraufhin Sie darüber informiert werden, dass Sie einen 
    neu starten müssen, um Karabiner Elements vollständig zu aktivieren. Ob Sie den Neustart 
    jetzt oder später starten, bleibt Ihnen überlassen, aber wenn Sie sich entscheiden, nicht neu zu starten, bis alle
     berechtigungen genehmigt wurden, verlassen Sie die Systemeinstellungen und gehen Sie 
    zurück zu RIM.</p>
    <h3 id="receiving-input"><a class="header" href="#receiving-input">Empfangen von Eingaben</a></h3>
    <p>RIM benötigt die Erlaubnis, alle Eingaben zu empfangen, die über eine Fernverbindung an es gerichtet werden.<br>
    Klicken Sie im RIM-Fenster auf Weiter, woraufhin ein Systemdialog 
    in dem die Berechtigungen für den Eingabedienst abgefragt werden. Wenn VoiceOver 
    nicht sofort fokussiert, drücken Sie zweimal schnell <em>VO+F1</em>. Dann,
     pfeil nach unten auf Systemdialoge, drücken Sie den Pfeil nach rechts und dann nach unten auf die
     anforderung von Tastaturberechtigungen. Wenn du darauf die Eingabetaste drückst, öffnet sich das 
    warnfeld, in dem Sie zu den Systemeinstellungen gehen 
    und markieren Sie das Kästchen Remote Incident Manager in der Liste der Anwendungen.</p>
    <h3 id="capturing-screen-output"><a class="header" href="#capturing-screen-output">Erfassen der Bildschirmausgabe</a></h3>
    <p>Die nächste Berechtigungsanfrage von RIM bezieht sich auf das Erfassen der Bildschirmausgabe
     ausgabe, die über die Remote-Verbindung geleitet wird. Die Vorgehensweise 
    ist ähnlich wie bei der vorherigen Prozedur.</p>
    <h3 id="notifications"><a class="header" href="#notifications">Benachrichtigungen</a></h3>
    <p>Die letzte Genehmigungsanfrage von RIM betrifft die Benachrichtigungen. RIM 
    wird Sie benachrichtigen, wenn eine Sitzung beginnt und endet. Das Verfahren zur 
    erteilung dieser Berechtigung ist ähnlich wie das vorherige Verfahren.</p>
    <h3 id="welcome-screen"><a class="header" href="#welcome-screen">Willkommensbildschirm!</a></h3>
    <p>Nachdem alle Berechtigungen genehmigt worden sind, erscheint der Willkommensbildschirm
     erscheinen. Wenn Sie später einen Neustart durchführen möchten, wäre jetzt ein guter 
    zeitpunkt für einen Neustart.
    Zu diesem Zeitpunkt ist RIM bereit, Verbindungen zu initiieren oder zu empfangen.</p>
    </div>
    <div id="unknown-content" style="display: none">
        <p>Bitte wählen Sie mit den obigen Schaltflächen ein Betriebssystem aus.</p>
    </div>

</Layout>