---
title: "System Requirements"
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
  <Layout title="Systemanforderungen">
<p>Um Remote Incident Manager ausführen zu können, muss Ihr System die folgenden Anforderungen erfüllen oder übertreffen:</p>
<div id="platformButtons">
<button id="showWindows">Zu den Windows-Anforderungen wechseln</button>
<button id="showMac">Zu den Mac OS-Anforderungen wechseln</button>
</div>
<div class="win" style="display: none;">
  <ul>
        <li>Windows 7 SP1 oder höher</li>
        <li>Windows Server 2012 oder höher</li>
        <li>Mindestens 4 GB RAM</li>
        <li>Admin-Rechte für die Erstinstallation (nicht erforderlich für automatische Updates)</li>
      </ul>
    </div>
      <div class="mac" style="display: none;">
        <ul>
        <li>Intel oder Apple Silizium</li>
        <li>Mac OS Ventura</li>
        <li>Mindestens 4 GB RAM</li>
        <li>Admin-Rechte für die Erstinstallation (für automatische Updates nicht erforderlich)</li>
      </ul>
    </div>
      <div id="unknown-content" style="display: none">
        <p>Bitte wählen Sie über die obigen Schaltflächen ein Betriebssystem aus.</p>
    </div>
</Layout>