---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Arbeiten innerhalb einer Sitzung">
    <div id="platformButtons">
       <button id="showWindows">Zu Windows wechseln Anleitungen</button>
       <button id="showMac">Zu Mac OS wechseln Anleitungen</button>
        </div>
<h2 id="things-to-know-before-you-begin"><a class="header" href="#things-to-know-before-you-begin">Wissenswertes, bevor Sie beginnen</a></h2>
<p>Unmittelbar nach dem Herstellen der Verbindung geschehen einige Dinge.</p>
<ul>
<li>Das Fernsteuerungsfenster für die Sitzung wird angezeigt.</li>
<li>Sie werden über den Status des Bildschirmlesegeräts informiert, das auf dem Rechner des Kunden läuft.</li>
<li>Wenn auf dem Client ein Bildschirmlesegerät installiert ist, wird eine Toast-Benachrichtigung 
eine Toast-Benachrichtigung, die den Benutzer darüber informiert, dass die Fernsitzung begonnen hat, und 
eine sofortige Bestätigung, dass der Systemton des Benutzers funktioniert.</li>
<li>Bei einem Mac-Ziel wird der Assistent für die Tastatureinrichtung angezeigt, wenn zum ersten Mal eine Verbindung mit einem Controller hergestellt wurde.</li>
    <ul>
    <li>Dies ist für die virtuelle Karabiner-Tastatur, die auf Tastaturbefehle hört, die von einem Controller gesendet werden.</li>
    <li>Daher sollten Sie den Zielcomputer durch den Einrichtungsassistenten
     durch den Setup-Assistenten zu führen, da dieser bei der Identifizierung auf das Drücken der Ferntastatur 
    identifizierungsprozess auf das Drücken einer entfernten Tastatur hört, nicht auf die eigene Tastatur des Macs.</li>
    </ul>
    <li>Zu guter Letzt werden alle Tastatur- und Mauseingaben sofort an den
 an den Zielcomputer weitergeleitet. Um die Steuerung wieder auf Ihren 
computer zu leiten, führen Sie einen der folgenden Schritte aus:</li>
<ul class="winCmd" style="display: none;">
<li>drücken Sie Windows+Umschalt+Leertaste.</li>
<li>klicken Sie mit der rechten Maustaste auf die Titelleiste des RIM-Fensters.</li>
<li>klicken Sie mit der linken Maustaste auf das RIM-Symbol.</li>
</ul>
<ul class="macCmd" style="display: none;">
    <li>drücken Sie Wahl+Umschalt+Leertaste.</li>
    <li>Klicken Sie auf das große RIM-Symbol in der oberen linken Ecke des Sitzungsfensters.</li>
    </ul>
    
</ul>
<h2 id="remote-control-zone"><a class="header" href="#remote-control-zone">Fernsteuerungsbereich</a></h2>
<p>Jetzt sind Sie bereit für alle Aufgaben, die auf der Client-Seite
 der Client-Seite zu erledigen. Sollten Sie wieder zur Steuerung Ihres eigenen Rechners wechseln wollen
 zurückkehren möchten, rufen Sie das RIM-Menü auf und wählen Sie die Option "Sitzung minimieren" 
option. Sie kehren dann zu Ihrem Rechner zurück, bis Sie wieder 
in das Sitzungsfenster wechseln oder erneut die Tastenkombination Windows+Umschalt+Rücktaste drücken. Wenn Sie
 wieder in das Sitzungsfenster wechseln, werden die Tastatur- und Mauseingaben wieder 
wieder an den Client-Computer geleitet.<br>
Wenn Sie fertig sind, kann entweder der Controller oder das Ziel in das 
RIM-Menü die Option "Sitzung trennen" wählen. Wenn die Sitzung 
endet, erhält der Zielcomputer eine Toast-Benachrichtigung, die ihn darüber
 dies.</p>
<h2 id="the-rim-menu"><a class="header" href="#the-rim-menu">Das RIM-Menü</a></h2>
<p>Wie bereits erwähnt, führt Sie der Zugriff auf das RIM-Menü zurück zu Ihrem
 rechner. In diesem Menü gibt es eine Reihe von Optionen. Dazu gehören:</p>
<ul>
<li>RIM auf dem Ziel aktualisieren: Erzwingt eine Aktualisierung von RIM auf dem Zielcomputer</li>
<ul>
<li>Diese Option zeigt an, ob auf dem Zielcomputer eine ältere Version von RIM läuft</li>
</ul>
<li>Sitzung minimieren: Bringt die Kontrolle zurück auf Ihren Rechner, wie oben beschrieben</li>
<ul>
<li>Sie können auch die Tastenkombination
   <em class="winCmd" style="display: none;">Windows+Umschalt+M</em>
   <em class="macCmd" style="display: none;">Wahl+Umschalt+M</em>
         verwenden, um die Sitzung zu minimieren.</li>
</ul>
<li>Datei zum Ziel übertragen: Wird angezeigt, wenn sich eine Datei in der Zwischenablage befindet.</li>
<ul>
<li>Diese alternative Methode zum Abschließen einer Dateiübertragung ist zwar 
immer verfügbar ist, ist sie nur für die Übertragung von Dateien auf Mac 
ziele.</li>
</ul>
<li>Sitzung umdrehen: Ermöglicht es Ihrem Client, Ihren Rechner fernzusteuern und 
audio hören. Als ursprünglicher Kontrolleur können Sie die Sitzung umkehren 
zurückdrehen, indem Sie diese Option ein zweites Mal auswählen.</li>
<ul>
<li>Sie können auch das Tastaturkürzel
   <em class="winCmd" style="display: none;">Windows+Umschalt+F</em>
   <em class="macCmd" style="display: none;">Wahl+Umschalt+F</em>
    verwenden, um die Sitzung vor- und zurückzudrehen.</li>
</ul>
<li>Sprachkonversation starten/stoppen: Ermöglicht es Ihnen, den Sprachchat für Ihre Sitzung ein- oder auszuschalten.</li>
<ul>
<li>Beachten Sie, dass diese Option in unbeaufsichtigten Sitzungen nicht verfügbar ist, da diese 
voice-Chat nicht unterstützt wird. Aufgeforderte Sitzungen unterstützen jedoch 
dies.</li>
</ul>
<li>Fernzugriff starten: Diese Option wird angezeigt, wenn kein 
bildschirmlesegerät auf dem entfernten Computer ausgeführt wird. Dadurch wird die Sprachausgabe auf 
sie aktivieren damit die Sprachausgabe auf Ihrer Seite, aber der Client muss sich nicht um die Sprachausgabe kümmern.</li>
<ul>
<li>Wenn ein Bildschirmleseprogramm (einschließlich Fernzugänglichkeit) läuft, wird diese Option zu einem erzwungenen Beenden des laufenden Bildschirmleseprogramms. Dies ist nützlich, wenn der Bildschirmleser eines Ziels nicht mehr reagiert, so dass Sie ihn nicht normal neu starten können.</li>
</ul>
<li>Neu starten und Verbindung wiederherstellen: Ermöglicht es Ihnen, den Computer neu zu starten und die Sitzung automatisch wieder zu verbinden.</li>
<ul>
    <li>Beachten Sie, dass ein Mac-Ziel aufgrund von Plattformbeschränkungen, insbesondere FileVault, RIM nicht vor der Anmeldung starten kann.</li>
    <li>Daher wird RIM die Verbindung wiederherstellen, sobald sich der Benutzer anmeldet.</li>
    </ul>
        <li>Strg+Alt+Entf senden: Sendet diese Tastenkombination an den entfernten Rechner.</li>
        <ul>
            <li>Eine Entsprechung für diese Option ist für Mac-Ziele noch nicht implementiert.</li>
            </ul>
<li>Unbeaufsichtigten oder angeforderten Zugriff anfordern: Ermöglicht Ihnen das Senden einer Anfrage 
für unbeaufsichtigten Zugriff auf den Client-Computer zu senden. Dies ist nützlich, wenn Sie ein
 systemadministrator sind und routinemäßige Wartungsarbeiten durchführen müssen, oder auch für etwas
 sie können aber auch einfach nur Ihren Heimcomputer von unterwegs aus steuern.</li>
<li>Sperren Sie den Zielcomputer: Führt das Äquivalent von Windows+L aus.</li>
<li>Verbindungsdetails anzeigen: Bietet eine detaillierte Übersicht über Ihre Verbindung und den Zielcomputer. Die Informationen umfassen:</li>
<ul>
<li>Verbindungsstatistiken</li>
<li>Informationen über den Computer, einschließlich Betriebssystemversion, verfügbarer Arbeitsspeicher usw.</li>
<li>Laufende Prozesse (Windows-Ziele)</li>
<li>Installierte Pakete (Windows-Ziele)</li>
</ul>
<li>Sitzung trennen: Beendet die Sitzung.</li>
<ul>
<li>Denken Sie daran, dass diese Option für beide Seiten der Sitzung verfügbar ist.</li>
<li>Dies ist auch über den Tastaturbefehl
   <em class="winCmd" style="display: none;">Windows+Umschalt+D.</em>
   <em class="macCmd" style="display: none;">Wahl+Umschalt+D.</em>
</li>
</ul>
</ul>
<h2 id="file-transfers"><a class="header" href="#file-transfers">Dateiübertragungen</a></h2>
<p>RIM bietet einen einfachen Weg, um Dateien zu übertragen, unabhängig von der verwendeten Plattform.</p>
<ol>
<li>Rufen Sie das RIM-Menü auf, und klicken Sie auf "Sitzung minimieren" Die Steuerung wird zurück auf Ihren Computer geleitet.</li>
<li>Wählen Sie mit Ihrem Dateimanager die Datei(en) und/oder den/die Ordner aus, die Sie übertragen möchten.</li>
<li>Kopieren Sie die ausgewählten Inhalte wie gewohnt in die Zwischenablage. Sie 
erhalten eine Benachrichtigung, dass eine Datei zum Übertragen bereit ist. Sie 
haben zwei Möglichkeiten.</li>
<ol>
<li>Wenn das Ziel ein Mac ist:</li>
<ol>
<li>Aktivieren Sie das RIM-Sitzungsmenü, und klicken Sie auf die Option "Datei zum Ziel übertragen".</li>
<li>Nach Abschluss der Übertragung erstellt der Ziel-Mac ein 
temporäres Verzeichnis, das die übertragenen Inhalte enthält. Diese sollten 
diese sollten dann kopiert und in die vorgesehenen Verzeichnisse eingefügt werden.</li>
</ol>
<li>Wenn das Ziel ein Windows-Rechner ist:</li>
<ol>
<li>Wechseln Sie zurück zur Remote-Sitzung und suchen Sie den Ordner auf dem Zielcomputer, in den Sie den Inhalt einfügen möchten.</li>
<li>Zu guter Letzt fügen Sie den Inhalt wie gewohnt ein.</li>
</ol>
</ol>
</ol>
<!-- end -->
<p>Beachten Sie, dass die Übertragungszeit ausschließlich von der Größe des zu übertragenden Inhalts und von der Geschwindigkeit Ihres Netzwerks abhängt.</p>
<h2 id="remote-accessibility-module"><a class="header" href="#remote-accessibility-module">Modul für die Fernzugänglichkeit</a></h2>
<p>Ob Sie einem Benutzer helfen, der kein Bildschirmlesegerät verwendet, oder 
sie ein Problem mit einem nicht funktionierenden Bildschirmlesegerät diagnostizieren, RIM ist 
ist voll und ganz darauf vorbereitet, Ihnen zu Hilfe zu kommen.</p>
<div class="win" style="display: none;">
    <p>Das Modul für die Fernzugänglichkeit besteht aus zwei Komponenten:</p>
<ul>
<li>Einem Addon für den <a href="https://nvaccess.org/">NVDA-Bildschirmleser</a>, das es dem Bildschirmleser ermöglicht, Ausgaben vom entfernten Computer zu empfangen</li>
<li>Ein eigenständiges Eingabehilfenmodul, das auf dem Zielcomputer 
zielcomputer auf Anfrage des Controllers initiiert wird. Der Vorteil dieses 
vorteil dieses Ansatzes ist, dass der Endbenutzer keine Sprache auf seinem Computer hört 
während Sie ihn steuern. Stattdessen leitet das Remote Accessibility Module 
die Sprachausgabe an die laufende Kopie von NVDA auf der Controllerseite weiter 
controller-Seite. Auf diese Weise können Sie einen Endbenutzer barrierefrei unterstützen, ohne
 ohne dass er einen Screenreader installieren oder gar herunterladen muss.</li>
</ul>
</div>
<div class="mac" style="display: none">
    <p>Das Fernzugriffsmodul ist eine
    spezielle Konfiguration, die auf dem Ziel-Mac auf Anforderung eines
    Windows- oder Mac-Steuerung. Der Vorteil dieses Ansatzes ist, dass der 
   endbenutzer keine Sprache auf seinem Computer hört, während Sie ihn steuern
    steuern. Stattdessen leitet das Remote Accessibility Module die Sprachausgabe 
   an das Sprachsystem auf der Controllerseite weiter. Auf diese Weise können Sie 
   endbenutzer barrierefrei unterstützen, ohne dass dieser einen Bildschirmleser aktivieren 
   lesegerät aktivieren muss.
   Wenn Sie VoiceOver auf dem steuernden Mac einsetzen, wird das Remote Accessibility 
   wird das Fernzugriffsmodul automatisch bei Fernsitzungen gestartet, in 
   in denen auf dem entfernten Computer kein Bildschirmleseprogramm ausgeführt wird.
</div>
<div class="win" style="display: none">
    <h3 id="setup-procedure"><a class="header" href="#setup-procedure">Setup-Verfahren</a></h3>
<p>Für die erstmalige Initialisierung des Eingabehilfenmoduls müssen Sie wie folgt vorgehen:</p>
<ol>
<li>Verbinden Sie sich mit einem Computer, auf dem kein Bildschirmleseprogramm läuft.</li>
<li>Wenn NVDA bereits läuft, werden Sie aufgefordert, ein Addon zu installieren 
zu installieren, das es Ihrer NVDA-Version ermöglicht, während der Sitzung mit dem 
computer während der Sitzung kommunizieren kann. Akzeptieren Sie die Installationsaufforderungen und warten Sie 
auf den Neustart von NVDA.</li>
<li>Jetzt ist das Fernzugriffsmodul vollständig initialisiert, 
und Sie hören eine Sprachausgabe, während Sie den entfernten Computer steuern.</li>
</ol>
<p>Wenn Sie auf dem steuernden Computer ein Bildschirmleseprogramm verwenden, wird ab diesem Zeitpunkt 
computer ein Bildschirmlesegerät verwenden, wird das Fernzugriffsmodul automatisch 
fernsitzungen, in denen auf dem entfernten Computer kein Bildschirmleseprogramm
 bildschirmleser läuft. Sollten Sie einen anderen Screenreader als
 NVDA verwenden, schaltet RIM diesen Bildschirmleser ab und wechselt dann zu
 NVDA UM.
Wenn Sie das Fernzugriffsmodul auf dem entfernten Rechner anhalten müssen 
zu stoppen, um ein anderes Bildschirmleseprogramm zu starten, wählen Sie einfach die Option "Remote Accessibility stoppen" aus dem RIM-Menü.</p>
</div>
<h2 id="rebooting-and-reconnecting"><a class="header" href="#rebooting-and-reconnecting">Neustart und Wiederherstellung der Verbindung</a></h2>
<p>Ob Sie nun System-Updates installieren oder einen Systemstillstand beheben wollen
 rIM hat Sie während des Neustartvorgangs unterstützt. 
Wenn Sie die Option "Neustart und Neuverbindung" aus dem RIM-Menü auswählen, können Sie 
können Sie entweder einen ordnungsgemäßen Neustart oder einen Notfall-Neustart durchführen, 
je nachdem, in welchem Zustand sich der Computer befindet. Während der Computer 
neu startet, informiert Sie RIM, dass die Verbindung wiederhergestellt wird 
gemacht werden.<br>
Wenn der Computer durch eine Softwareinstallation neu gestartet wird oder 
manuell neu gestartet wird, werden Sie gefragt, ob Sie die Verbindung wiederherstellen möchten 
die Sitzung wieder aufbauen möchten. Außerdem ist zu beachten, dass in beiden Fällen Mac 
targets die Verbindung nur dann wiederherstellt, wenn sich der Benutzer anmeldet. Dies ist darauf zurückzuführen, dass 
tatsache, dass RIM aufgrund von Plattformbeschränkungen, insbesondere FileVault, nicht automatisch auf dem Anmeldebildschirm starten kann 
plattformbeschränkungen, insbesondere der FileVault-Festplattenverschlüsselung, nicht automatisch starten kann.</p>
<h2 id="unattended-or-prompted-access"><a class="header" href="#unattended-or-prompted-access">Unbeaufsichtigter oder abgefragter Zugriff</a></h2>
<p>RIM ermöglicht es Ihnen als Controller, Rechner für den unbeaufsichtigten oder 
unbeaufsichtigten oder abgefragten Zugriff zu konfigurieren. So können Sie Fernhilfe leisten 
ohne dass der Benutzer RIM starten, ein Schlüsselwort eingeben oder 
sogar in der Nähe des Computers sein muss. Dies ist nützlich, wenn Sie ein Systemadministrator sind 
routinemäßige Wartungsarbeiten an Computern in Ihrer Arbeitsgruppe durchführen, oder für 
kunden, die Sie regelmäßig unterstützen. Vielleicht möchten Sie auch 
unbeaufsichtigten Zugriff für Ihren Heimcomputer erlauben, falls Sie von einem anderen Ort aus auf den Computer 
von einem anderen Ort aus zugreifen müssen.<br>
Es gibt mehrere Möglichkeiten, Rechner für den unbeaufsichtigten Zugriff zu konfigurieren.</p>
<h3 id="during-an-interactive-session"><a class="header" href="#during-an-interactive-session">Während einer interaktiven Sitzung</a></h3>
<ol>
<li>Rufen Sie das RIM-Menü auf.</li>
<li>Wählen Sie "Unbeaufsichtigten oder abgefragten Zugriff anfordern"</li>
<li>Sie werden gefragt, welche Art von Verbindung Sie konfigurieren möchten. Sie haben folgende Möglichkeiten:</li>
<ol>
<li>Unbeaufsichtigt: Ermöglicht das Starten von Sitzungen ohne jegliches Eingreifen des Endbenutzers.</li>
<li>Aufgefordert: Bei dieser Konfiguration wird der Benutzer mit einer Aufforderung 
die ihn darüber informiert, dass Sie eine Verbindung zu seinem Rechner herstellen. Der Benutzer muss 
 <em>option+Umschalt+Y</em> unter Mac OS bzw. <em>Windows+Umschalt+Y</em> unter Windows drücken, wenn er die Verbindung annehmen möchte.</li>
</ol>
<li>Sie werden aufgefordert, diesem Rechner einen Namen zu geben. Geben Sie einen persönlichen Namen
 für den Rechner ein, oder, falls zutreffend, die Rechner-ID, wie sie in Ihrer
 arbeitsgruppe erscheint.</li>
<li>Drücken Sie die Eingabetaste.</li>
<li>Auf dem Client-Computer wird ein Dialogfeld angezeigt, in dem der Benutzer gefragt wird, ob er damit einverstanden ist, dass sein Computer
 ob er damit einverstanden ist, dass sein Computer für den von Ihnen gewünschten Zugriff eingerichtet wird. Wenn 
wenn er mit Ja antwortet, erhalten Sie eine Meldung, dass der 
zugriff genehmigt wurde.</li>
</ol>
<h3 id="registering-a-machine-to-your-rim-account"><a class="header" href="#registering-a-machine-to-your-rim-account">Registrierung eines Geräts in Ihrem RIM-Konto</a></h3>
<p>Wenn Sie einen Ihrer eigenen Computer für den unbeaufsichtigten Zugang registrieren möchten 
zugang registrieren möchten, können Sie dies tun, ohne eine interaktive Sitzung mit dem 
mit dem Rechner zu starten. </p>
<ol>
<li>Starten Sie RIM im Empfangshilfemodus.</li>
<li>Klicken Sie auf die Schaltfläche "Diesen Rechner zu Ihrem RIM-Konto hinzufügen".</li>
<li>Geben Sie Ihre E-Mail-Adresse ein und klicken Sie dann auf Weiter.</li>
<li>Warten Sie auf den zweistufigen Anmeldecode, geben Sie ihn ein, und Sie sollten angemeldet sein.</li>
<li>Sie werden gefragt, welche Art von Zugang Sie für dieses Gerät konfigurieren möchten. Ihre Optionen sind:</li>
<ol>
<li>Unbeaufsichtigt: Ermöglicht das Starten von Sitzungen ohne jegliches Eingreifen des Endbenutzers.</li>
<li>Aufgefordert: Bei dieser Konfiguration wird dem Benutzer eine Aufforderung angezeigt, die ihn darüber informiert, dass Sie eine Verbindung zu seinem Rechner herstellen.</li>
</ol>
<li>Geben Sie dem Rechner einen Namen und aktivieren Sie dann die Schaltfläche "Rechner hinzufügen".</li>
<li>Die Maschine wird in Ihrem Konto registriert, so dass alle
 controller, die bei Ihrem RIM-Konto angemeldet sind, eine Verbindung zu diesem 
maschine.</li>
</ol>
<h3 id="getting-connected-1"><a class="header" href="#getting-connected-1">Verbunden werden</a></h3>
<p>Nachdem wir den Rechner für den unbeaufsichtigten Zugriff registriert haben, werden wir nun eine Sitzung starten.</p>
<ol>
<li>Starten Sie RIM im Controller-Modus.</li>
<li>Anstatt ein Schlüsselwort einzugeben, suchen und aktivieren Sie die Schaltfläche "Rechner auswählen".</li>
<li>Wenn Sie auf diese Schaltfläche klicken, wird eine Liste von Rechnern angezeigt. Wählen Sie die 
und drücken Sie dann die Eingabetaste. Sie können auch die Suchleiste verwenden, um die 
liste auf eine bestimmte Maschine einzugrenzen.</li>
</ol>
<p>Wenn der Zielcomputer für den abgefragten Zugriff konfiguriert ist, erhält der Endbenutzer
 eine Aufforderung erhalten. Sobald er mit Ja antwortet, wird die Verbindung hergestellt. Wenn die 
sitzung unbeaufsichtigt ist, werden Sie sofort verbunden und 
in die Fernsteuerungszone.<br>
Bitte beachten Sie: Während völlig unbeaufsichtigter Sitzungen werden Telefongespräche nicht unterstützt, wohl aber bei angeforderten Sitzungen.</p>
<h3 id="creating-a-shortcut-for-an-unattended-session"><a class="header" href="#creating-a-shortcut-for-an-unattended-session">Erstellen einer Verknüpfung für eine unbeaufsichtigte Sitzung</a></h3>
<p>Für zusätzlichen Komfort können Sie Desktop-Verknüpfungen erstellen, mit denen 
sie automatisch unbeaufsichtigte Sitzungen starten können. Um dies zu tun:</p>
<ol>
<li>Rufen Sie die Liste der unbeaufsichtigten Computer auf, und wählen Sie den Computer aus, für den Sie eine Verknüpfung erstellen möchten.</li>
<li>Klicken Sie auf die Schaltfläche "Verknüpfung erstellen".</li>
<li>Es wird automatisch eine Verknüpfung zu Ihrem Desktop hinzugefügt.</li>
</ol>
<p>Wenn Sie nun diese Verknüpfung aktivieren, werden Sie entweder automatisch 
in der Fernsitzung landen oder eine Aufforderung an den Rechner des Benutzers senden, die 
er akzeptieren kann.</p>
<div class="win" style="display: none">
    <h4 id="more-ways-to-use-unattended-session-shortcuts"><a class="header" href="#more-ways-to-use-unattended-session-shortcuts">Weitere Möglichkeiten, unbeaufsichtigte Sitzungsverknüpfungen zu verwenden</a></h4>
<p>Tastenkombinationen für unbeaufsichtigte Sitzungen können wie alle anderen Tastenkombinationen 
globale Tastenkombinationen zugewiesen werden. Dies kann äußerst nützlich sein, wenn Sie
 ein Wartungstechniker sind, der mehrere Computer in einer Arbeitsgruppe verwaltet. Für 
wenn Ihre Arbeitsgruppe beispielsweise aus 6 Computern besteht, die Sie 
routinewartung durchführen, können Sie Alt+Steuerung+1 bis 6 als 
hotkeys für jeden einzelnen Computer konfigurieren. Dies sollte Ihren Arbeitsablauf 
arbeitsablauf erheblich beschleunigen.<br>
Außerdem können Sie eine unbeaufsichtigte Sitzung über die Run-Box aufrufen, wenn Sie 
sie die Verknüpfung in Ihr Benutzerverzeichnis kopieren. Sobald Sie die Verknüpfung 
verknüpfung kopiert haben, können Sie eine unbeaufsichtigte Sitzung starten, indem Sie 
ihr-Sitzungsname.url in das Ausführungsfenster eingeben.</p>
</div>
<h3 id="revoking-unattended-access"><a class="header" href="#revoking-unattended-access">Unbeaufsichtigten Zugriff widerrufen</a></h3>
<p>Wenn Sie nicht mehr möchten, dass Ihr Rechner unbeaufsichtigt gesteuert wird, können Sie 
können Sie den Zugriff des Controllers widerrufen. Sie müssen sich nicht in einer Sitzung 
zu sein, um dies zu tun.</p>
<ol class="win" style="display: none;">
<li>Rufen Sie das Symbol für den Remote Incident Manager in Ihrer Taskleiste auf.</li>
<ol>
<li>Wenn Sie die Tastatur verwenden, drücken Sie die Tastenkombination windows+b, dann die Leertaste, dann den Pfeil nach links oder rechts, bis Sie das Symbol finden.</li>
</ol>
<li>Klicken Sie mit der rechten Maustaste auf dieses Symbol, oder drücken Sie die Anwendungs- oder Umschalttaste+f10.</li>
<li>Wählen Sie die Option "Unbeaufsichtigten Zugriff widerrufen".</li>
<li>Sie erhalten eine Liste von Computern. Wählen Sie den Computer aus, dem Sie den Zugriff entziehen möchten.</li>
<li>Sie werden gefragt, ob Sie den Computer sperren möchten; antworten Sie mit Ja.</li>
</ol>
<ol class="mac" style="display: none;">
    <li>Rufen Sie das Symbol Remote Incident Manager in Ihrem Menü Extras/Statusmenüs auf.</li>
    <ol>
    <li>Wenn Sie VoiceOver verwenden, drücken Sie zweimal VO+M und suchen Sie dann das Symbol für das Remote Incident Manager-Menü.</li>
    </ol>
    <li>Klicken Sie auf dieses Symbol, oder drücken Sie VO+Space.</li>
    <li>Wählen Sie die Option "Unbeaufsichtigten Zugriff widerrufen".</li>
    <li>Sie erhalten eine Liste von Computern. Wählen Sie den Computer aus, dem Sie den Zugriff entziehen möchten.</li>
    <li>Sie werden gefragt, ob Sie den Rechner sperren wollen; antworten Sie mit Ja.</li>
    </ol>
    <p>Das war's! Der Kontrolleur erhält eine Meldung, dass dieser Rechner 
maschine nicht mehr für den unbeaufsichtigten Zugang zur Verfügung steht. Sollte er 
den unbeaufsichtigten Zugriff benötigen, können sie das Verfahren zur Beantragung 
genehmigung für den unbeaufsichtigten Zugriff wie oben beschrieben anfordern.</p>
<h2 id="key-command-reference"><a class="header" href="#key-command-reference">Taste Befehlsreferenz</a></h1>
<div class="table-wrapper"><table class="win" style="display: none;"><thead><tr><th>Aktion</th><th>Befehl</th></tr></thead><tbody>
<tr><td>Sitzung minimieren</td><td>Fenster+Umschalt+M</td></tr>
<tr><td>Sitzung umdrehen</td><td>Fenster+Umschalt+F</td></tr>
<tr><td>Sitzung trennen (Controller oder Ziel)</td><td>Fenster+Umschalt+D</td></tr>
</tbody></table>
<div class="table-wrapper"><table class="mac" style="display: none;"><thead><tr><th>Aktion</th><th>Befehl</th></tr></thead><tbody>
    <tr><td>RIM-Menü aktivieren</td><td>Option+Umschalttaste+Rücktaste</td></tr>
    <tr><td>Sitzung minimieren</td><td>Wahl+Umschalt+M</td></tr>
    <tr><td>Sitzung umdrehen</td><td>Wahl+Umschalt+F</td></tr>
    <tr><td>Sitzung trennen (Controller oder Ziel)</td><td>Wahl+Umschalt+D</td></tr>
    <tr><td>Eingehende Verbindungsanforderung annehmen</td><td>Wahl+Umschalt+Y</td></tr>
    <tr><td>Eingehende Verbindungsanforderung ablehnen</td><td>Wahl+Umschalt+N</td></tr>
    </tbody></table>
    
</layout>