---
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
<Layout title="Getting Connected">
    <div id="platformButtons">
        <button id="showWindows">Cambiar a comandos de teclado de Windows</button>
        <button id="showMac">Cambiar a comandos de teclado de Mac OS</button>
        </div>
<p>El proceso de conexión de Remote Incident Manager está diseñado con rapidez
y simplicidad en mente, tanto para la persona que recibe asistencia como para la que la proporciona.</p>
<h2 id="conectarse-a-un-controlador"><a class="header" href="#conectarse-a-un-controlador">Conectarse a un controlador</a></h2>
<p>Cuando inicie Remote Incident Manager por primera vez, estará en modo de destino
por defecto. Esto significa que se va a conectar a una
persona que ha configurado una sesión de soporte remoto para usted.<br>
Aterrizará en un cuadro de edición etiquetado como "palabra clave" Introduzca la palabra clave
 a usted por la persona que le asiste, y luego simplemente pulse enter. Y ya está
ya está, ¡está conectado!</p> <p>
<h2 id="aceptando-una-solicitud-de-conexión"><a class="header" href="#aceptando-una-solicitud-de-conexión">Aceptando una solicitud de conexión</a></h2>
<p>Si un técnico le proporciona soporte de forma habitual, su máquina
puede estar configurada para recibir una solicitud de conexión sin que ninguno de los dos
tener que introducir una palabra clave. RIM anunciará que su técnico está
intentando conectarse. Para aceptar la conexión, pulse
<em class="winCmd" style="display: none;">Windows+Mayús+Y,</em>
<em class="macCmd" style="display: none;">Opción+Mayús+Y,</em>
y la sesión comenzará momentáneamente.</p> <p>
<h2 id="conectando-a-un-objetivo"><a class="header" href="#conectando-a-un-objetivo">Conectando a un objetivo</a></h2>
<p>El proceso para configurar la sesión es bastante similar. En lugar de
 introducir la palabra clave, querrá navegar hasta el botón "Proporcionar ayuda
en su lugar". Al hacer esto por primera vez, se le pedirá
que configure una cuenta.</p>
<ol>
<li>Introduzca su dirección de correo electrónico
<li>Compruebe su correo electrónico para obtener un código de verificación y, a continuación, introdúzcalo en RIM.</li> <li>Introduzca su dirección de correo electrónico
<li>A continuación, se le pedirá que introduzca su nombre, ubicación y número de teléfono.</li> <li>Por último, introduzca su dirección de correo electrónico
<li>Por último, recibirá otro código de verificación en su teléfono. Introduzca este código en RIM.
<ol>
<li>Si no dispone de un teléfono móvil capaz de recibir mensajes de texto, <a href="https://pneumasolutions.com/products/rim/account-verification/">rellene este formulario.</a> Le ayudaremos a verificar su cuenta.</li>
<li>Una nota para los números internacionales: Si su código de verificación no
verificación, asegúrese de que el código de país que precede a su número
por el signo más, en lugar de 00.</li>
</ol>
</ol>
<p>Ahora que ha iniciado sesión, introduzca la palabra clave que utilizará el objetivo
 para conectarse a usted. Cuando navegue más allá del cuadro de edición, se topará con
con una casilla de verificación que determina si iniciar o no una conversación de voz
conversación de voz durante la sesión (esto puede ser activado o desactivado durante
durante la sesión). Después encontrarás el botón "Iniciar". Cuando
 cuando haga clic en él, estará en la sala de espera hasta que su objetivo se conecte
se conecte. En este punto, usted querrá enviar la palabra clave que acaba de
que acabas de introducir a la persona con la que te vas a conectar
 para conectarse. Una vez que se haya conectado, recibirá una alerta
informándote de que la sesión remota está a punto de comenzar. Toma nota de
el mencionado
<em class="winCmd" style="display: none;">Windows+Mayús+Retroceso</em>
<em class="macCmd" style="display: none;">Opción+Mayús+Retroceso</em>
ya que
abrirá el menú RIM en su máquina. Si utiliza exclusivamente el teclado
exclusivamente, esta es la única manera de dirigir la entrada de teclado de nuevo a su
propio sistema. Después de cerrar este diálogo, se iniciará la sesión remota
iniciada.</p>

</Layout>