---
title: "System Requirements"
import Layout from '../../layouts/toc.astro';
import react from "react";
---
<script src="../../components/runningPlatform.js"></script>
  <Layout title="Requisitos del sistema">
<p>Para poder ejecutar Remote Incident Manager, su sistema debe cumplir o superar los siguientes requisitos:</p>
<div id="platformButtons">
<button id="showWindows">Cambiar a los requisitos de Windows</button>
<button id="showMac">Cambiar a los requisitos de Mac OS</button>
</div>
<div class="win" style="display: none;">
  <ul>
        <li>Windows 7 SP1 o posterior</li> <li>Windows Server 2012
        <li>Windows Server 2012 o posterior</li>
        <li>Al menos 4 GB de RAM</li>
        <li>Privilegios de administrador para la instalaci칩n inicial (no necesarios para las actualizaciones autom치ticas)</li>
      </ul>
    </div>
      <div class="mac" style="display: none;">
        <ul>
        <li>Intel o Apple Silicon</li> <li>Mac OS Ventura
        <li>Mac OS Ventura</li>
        <li>Al menos 4 GB de RAM</li>
        <li>Privilegios de administrador para la instalaci칩n inicial (no necesarios para las actualizaciones autom치ticas)</li>
      </ul>
    </div>
      <div id="unknown-content" style="display: none;">
        <p>Por favor, seleccione un sistema operativo utilizando los botones de arriba.</p>
    </div>
</Layout>