---
const { title } = Astro.props.frontmatter || Astro.props;
---
<html>
  <head>
  <title>{title}</title>
  </head>
  <body>
    <nav>
		<ul>
			<li><a href="../">Welcome</a></li>
			<li><a href="../../en-US/systemspecs">System Requirements</a></li>
			<li><a href="../../en-US/installation">Installation</a></li>
			<li><a href="../../en-US/gettingconnected">Getting Connected</a></li>
			<li><a href="../../en-US/workingwithsessions">Working within a Session</a></li>
			<li><a href="../../en-US/dashboard">RIM Dashboard</a></li>
			<li><a href="../../en-US/faq">Frequently Asked Questions</a></li>
			<li><a href="../../en-US/pricing">Pricing</a></li>
			<li><a href="../../en-US/changelog">Change Log</a></li>
		</ul>
	</nav>
<main>
		<h1>{title}</h1>
    <slot />
</main>
  </body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
